In [733]:
import pandas as pd
import numpy as np

batting_df = pd.read_csv('./data/Batting.csv')

#display lots of columns
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 40)

In [734]:
batting_df[:5]

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO  IBB  HBP  SH  SF  GIDP
0  abercda01    1871      1    TRO  NaN   1    4   0   0   0   0   0    0   0   0   0   0  NaN  NaN NaN NaN   NaN
1   addybo01    1871      1    RC1  NaN  25  118  30  32   6   0   0   13   8   1   4   0  NaN  NaN NaN NaN   NaN
2  allisar01    1871      1    CL1  NaN  29  137  28  40   4   5   0   19   3   1   2   5  NaN  NaN NaN NaN   NaN
3  allisdo01    1871      1    WS3  NaN  27  133  28  44  10   2   2   27   1   1   0   2  NaN  NaN NaN NaN   NaN
4  ansonca01    1871      1    RC1  NaN  25  120  29  39  11   3   0   16   6   2   2   1  NaN  NaN NaN NaN   NaN

In [735]:
# remove statistics which didn't get recorded until sometime in 1900s
batting_df.drop(batting_df.columns[17:], axis=1, inplace=True)

# fill NaN values with 0
batting_df.fillna(0, inplace=True)
batting_df[:5]

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO
0  abercda01    1871      1    TRO    0   1    4   0   0   0   0   0    0   0   0   0   0
1   addybo01    1871      1    RC1    0  25  118  30  32   6   0   0   13   8   1   4   0
2  allisar01    1871      1    CL1    0  29  137  28  40   4   5   0   19   3   1   2   5
3  allisdo01    1871      1    WS3    0  27  133  28  44  10   2   2   27   1   1   0   2
4  ansonca01    1871      1    RC1    0  25  120  29  39  11   3   0   16   6   2   2   1

In [736]:
# function that gives us the score of a player for one season
def score(row):
    return row['R'] + row['H'] + row['2B'] + (2 * row['3B']) + (3 * row['HR']) + row['RBI'] + row['SB']

In [737]:
# calculate score
batting_df['score'] = batting_df.apply(lambda row: score(row), axis=1)
batting_df[:5]
# sort by score
# batting_df.sort('score', ascending=False)

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO  score
0  abercda01    1871      1    TRO    0   1    4   0   0   0   0   0    0   0   0   0   0      0
1   addybo01    1871      1    RC1    0  25  118  30  32   6   0   0   13   8   1   4   0     89
2  allisar01    1871      1    CL1    0  29  137  28  40   4   5   0   19   3   1   2   5    104
3  allisdo01    1871      1    WS3    0  27  133  28  44  10   2   2   27   1   1   0   2    120
4  ansonca01    1871      1    RC1    0  25  120  29  39  11   3   0   16   6   2   2   1    107

In [738]:
# WE ARE CONSIDERING ALL DATA FOR NOW

# makes a copy of these columns
# teams_relevant = teams_df[['playerID', 'yearID', 'teamID', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB']]
# teams_relevant[:10]
# teams_relevant['score'] = teams_relevant.apply(lambda row: score(row),axis=1)
# teams_relevant[:10]

In [739]:
def create_player_year_id(df):
    return df['playerID'] + "_" + str(df['yearID'])

In [740]:
batting_index = batting_df.apply(create_player_year_id, axis=1)
batting_df.set_index(batting_index, inplace=True)
# index by playerID and year since each player is distinct from himself each year
# we can access stuff by df[index[something]]
batting_df[:10]

                 playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO  score
abercda01_1871  abercda01    1871      1    TRO    0   1    4   0   0   0   0   0    0   0   0   0   0      0
addybo01_1871    addybo01    1871      1    RC1    0  25  118  30  32   6   0   0   13   8   1   4   0     89
allisar01_1871  allisar01    1871      1    CL1    0  29  137  28  40   4   5   0   19   3   1   2   5    104
allisdo01_1871  allisdo01    1871      1    WS3    0  27  133  28  44  10   2   2   27   1   1   0   2    120
ansonca01_1871  ansonca01    1871      1    RC1    0  25  120  29  39  11   3   0   16   6   2   2   1    107
armstbo01_1871  armstbo01    1871      1    FW1    0  12   49   9  11   2   1   0    5   0   1   0   1     29
barkeal01_1871  barkeal01    1871      1    RC1    0   1    4   0   1   0   0   0    2   0   0   1   0      3
barnero01_1871  barnero01    1871      1    BS1    0  31  157  66  63  10   9   0   34  11   6  13   1    202
barrebi01_1871  barrebi01    1871      1    FW1    0   1    5   1   1   1   0   0    1   0   0   0   0      4
barrofr01_1871  barrofr01    1871      1    BS1    0  18   86  13  13   2   1   0   11   1   0   0   0     42

In [741]:
agg_batting_df = batting_df.groupby(batting_df.index).agg('sum')
agg_batting_df.drop(['yearID', 'stint'], axis=1, inplace=True)
agg_batting_df['playerID'] = agg_batting_df.index
agg_batting_df['playerID'] = agg_batting_df['playerID'].apply(lambda x: x[:-5])
agg_batting_df

             G   AB    R    H  2B  3B  HR  RBI  SB  CS  BB   SO  score   playerID
aardsda01   11    0    0    0   0   0   0    0   0   0   0    0      0  aardsda01
aardsda01   45    2    0    0   0   0   0    0   0   0   0    0      0  aardsda01
aardsda01   25    0    0    0   0   0   0    0   0   0   0    0      0  aardsda01
aardsda01   47    1    0    0   0   0   0    0   0   0   0    1      0  aardsda01
aardsda01   73    0    0    0   0   0   0    0   0   0   0    0      0  aardsda01
aardsda01   53    0    0    0   0   0   0    0   0   0   0    0      0  aardsda01
aardsda01    1    0    0    0   0   0   0    0   0   0   0    0      0  aardsda01
aardsda01   43    0    0    0   0   0   0    0   0   0   0    0      0  aardsda01
aaronha01  122  468   58  131  27   6  13   69   2   2  28   39    338  aaronha01
aaronha01  153  602  105  189  37   9  27  106   3   1  49   61    539  aaronha01
aaronha01  153  609  106  200  34  14  26   92   2   4  37   54    540  aaronha01
aaronha01  151  615  118  198  27   6  44  132   1   1  57   58    620  aaronha01
aaronha01  153  601  109  196  34   4  30   95   4   1  59   49    536  aaronha01
aaronha01  154  629  116  223  46   7  39  123   8   0  51   54    647  aaronha01
aaronha01  153  590  102  172  20  11  40  126  16   7  60   63    578  aaronha01
aaronha01  155  603  115  197  39  10  34  120  21   9  56   64    614  aaronha01
aaronha01  156  592  127  191  28   6  45  128  15   7  66   73    636  aaronha01
aaronha01  161  631  121  201  29   4  44  130  31   5  78   94    652  aaronha01
aaronha01  145  570  103  187  30   2  24   95  22   4  62   46    513  aaronha01
aaronha01  150  570  109  181  40   1  32   89  24   4  60   81    541  aaronha01
aaronha01  158  603  117  168  23   1  44  127  21   3  76   96    590  aaronha01
aaronha01  155  600  113  184  37   3  39  109  17   6  63   97    583  aaronha01
aaronha01  160  606   84  174  33   4  29   86  28   5  64   62    500  aaronha01
aaronha01  147  547  100  164  30   3  44   97   9  10  87   47    538  aaronha01
aaronha01  150  516  103  154  26   1  38  118   9   0  74   63    526  aaronha01
aaronha01  139  495   95  162  22   3  47  118   1   1  71   58    545  aaronha01
aaronha01  129  449   75  119  10   0  34   77   4   0  92   55    387  aaronha01
aaronha01  120  392   84  118  12   1  40   96   1   1  68   51    433  aaronha01
aaronha01  112  340   47   91  16   0  20   69   1   0  39   29    284  aaronha01
aaronha01  137  465   45  109  16   2  12   60   0   1  70   51    270  aaronha01
...        ...  ...  ...  ...  ..  ..  ..  ...  ..  ..  ..  ...    ...        ...
zuninmi01   52  173   22   37   5   0   5   14   1   0  16   49     94  zuninmi01
zuninmi01  131  438   51   87  20   2  22   60   0   3  17  158    288  zuninmi01
zupcibo01   18   25    3    4   0   0   1    3   0   0   1    6     13  zupcibo01
zupcibo01  124  392   46  108  19   1   3   43   2   2  25   60    229  zupcibo01
zupcibo01  141  286   40   69  24   2   2   26   5   2  27   54    174  zupcibo01
zupcibo01   36   92   10   18   4   1   1    8   0   1   4   17     45  zupcibo01
zupofr01    10   12    2    1   0   0   0    0   0   0   1    4      3   zupofr01
zupofr01     1    2    0    0   0   0   0    0   0   0   0    1      0   zupofr01
zupofr01     5    4    1    2   1   0   0    0   0   0   1    1      4   zupofr01
zuvelpa01    2    1    0    0   0   0   0    0   0   0   0    0      0  zuvelpa01
zuvelpa01    3    5    0    0   0   0   0    0   0   0   2    1      0  zuvelpa01
zuvelpa01   11   25    2    5   1   0   0    1   0   0   2    3      9  zuvelpa01
zuvelpa01   81  190   16   48   8   1   0    4   2   0  16   14     80  zuvelpa01
zuvelpa01   21   48    2    4   1   0   0    2   0   0   5    4      9  zuvelpa01
zuvelpa01   14   34    2    6   0   0   0    0   0   0   0    4      8  zuvelpa01
zuvelpa01   51  130    9   30   5   1   0    7   0   0   8   13     53  zuvelpa01
zuvelpa01   24   58   10   16   2   0   2    6   0   0   1   11     40  zuvelpa01
zuvelpa01    2    0    0    0   0   0   0    0   0   0   0    0      0  zuvelpa01
zuverge01   16    0    0    0   0   0   0    0   0   0   0    0      0  zuverge01
zuverge01    2    0    1    0   0   0   0    0   0   0   0    0      1  zuverge01
zuverge01   37   66    2    9   1   0   0    3   0   1   1   15     15  zuverge01
zuverge01   42   27    1    5   1   0   0    0   0   0   1    7      7  zuverge01
zuverge01   62   17    0    2   0   0   0    2   0   0   1    7      4  zuverge01
zuverge01   56   23    1    3   0   0   0    0   0   0   3    8      4  zuverge01
zuverge01   45    9    0    2   0   1   0    2   0   0   1    2      6  zuverge01
zuverge01    6    0    0    0   0   0   0    0   0   0   2    0      0  zuverge01
zwilldu01   27   87    7   16   5   0   0    5   1   0  11    0     34  zwilldu01
zwilldu01  154  592   91  185  38   8  16   95  21   0  46   68    494  zwilldu01
zwilldu01  150  548   65  157  32   7  13   94  24   0  67   65    425  zwilldu01
zwilldu01   35   53    4    6   1   0   1    8   0   0   4    6     22  zwilldu01

[92550 rows x 14 columns]

In [742]:
master_df = pd.read_csv('./data/Master.csv')
master_df = master_df[['playerID', 'birthYear', 'nameFirst', 'nameLast', 'weight', 'height']]
master_df[:10]

    playerID  birthYear nameFirst     nameLast  weight  height
0  aardsda01       1981     David      Aardsma     205      75
1  aaronha01       1934      Hank        Aaron     180      72
2  aaronto01       1939    Tommie        Aaron     190      75
3   aasedo01       1954       Don         Aase     190      75
4   abadan01       1972      Andy         Abad     184      73
5   abadfe01       1985  Fernando         Abad     220      73
6  abadijo01       1854      John       Abadie     192      72
7  abbated01       1877        Ed  Abbaticchio     170      71
8  abbeybe01       1869      Bert        Abbey     175      71
9  abbeych01       1866   Charlie        Abbey     169      68

In [743]:
# merge birthyear, height, weight, etc info 
batters2 = pd.merge(left=batting_df, right=master_df, how='left', left_on='playerID', right_on='playerID')
# make weight height mean for those that didn't exist
# batters2.fillna(batters2.mean(), inplace=True)
batters2[:10]

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO  score  birthYear nameFirst     nameLast  weight  height
0  abercda01    1871      1    TRO    0   1    4   0   0   0   0   0    0   0   0   0   0      0       1850     Frank  Abercrombie     NaN     NaN
1   addybo01    1871      1    RC1    0  25  118  30  32   6   0   0   13   8   1   4   0     89       1842       Bob         Addy     160      68
2  allisar01    1871      1    CL1    0  29  137  28  40   4   5   0   19   3   1   2   5    104       1849       Art      Allison     150      68
3  allisdo01    1871      1    WS3    0  27  133  28  44  10   2   2   27   1   1   0   2    120       1846      Doug      Allison     160      70
4  ansonca01    1871      1    RC1    0  25  120  29  39  11   3   0   16   6   2   2   1    107       1852       Cap        Anson     227      72
5  armstbo01    1871      1    FW1    0  12   49   9  11   2   1   0    5   0   1   0   1     29       1850    Robert    Armstrong     160      74
6  barkeal01    1871      1    RC1    0   1    4   0   1   0   0   0    2   0   0   1   0      3       1839        Al       Barker     NaN     NaN
7  barnero01    1871      1    BS1    0  31  157  66  63  10   9   0   34  11   6  13   1    202       1850      Ross       Barnes     145      68
8  barrebi01    1871      1    FW1    0   1    5   1   1   1   0   0    1   0   0   0   0      4        NaN      Bill      Barrett     NaN     NaN
9  barrofr01    1871      1    BS1    0  18   86  13  13   2   1   0   11   1   0   0   0     42       1844     Frank      Barrows     NaN     NaN

In [744]:
batting_index = batters2.apply(create_player_year_id, axis=1)
batters2.set_index(batting_index, inplace=True)
# index by playerID and year since each player is distinct from himself each year
# we can access stuff by df[index[something]]

#remove everything before 1974
batters2 = batters2[batters2.yearID >= 1985]
batters2[:10]

                 playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO  score  birthYear nameFirst   nameLast  weight  height
aasedo01_1985    aasedo01    1985      1    BAL   AL  54    0   0   0   0   0   0    0   0   0   0   0      0       1954       Don       Aase     190      75
abregjo01_1985  abregjo01    1985      1    CHN   NL   6    9   0   0   0   0   0    1   0   0   0   2      1       1962    Johnny     Abrego     185      72
ackerji01_1985  ackerji01    1985      1    TOR   AL  61    0   0   0   0   0   0    0   0   0   0   0      0       1958       Jim      Acker     210      74
adamsri02_1985  adamsri02    1985      1    SFN   NL  54  121  12  23   3   1   2   10   1   1   5  23     57       1959     Ricky      Adams     180      74
agostju01_1985  agostju01    1985      1    CHA   AL  54    0   0   0   0   0   0    0   0   0   0   0      0       1958      Juan     Agosto     190      74
aguaylu01_1985  aguaylu01    1985      1    PHI   NL  91  165  27  46   7   3   6   21   1   0  22  26    126       1959      Luis     Aguayo     173      69
aguilri01_1985  aguilri01    1985      1    NYN   NL  22   36   1  10   2   0   0    2   0   0   1   5     15       1961      Rick   Aguilera     195      76
aikenwi01_1985  aikenwi01    1985      1    TOR   AL  12   20   2   4   1   0   1    5   0   0   3   6     15       1954    Willie     Aikens     220      75
alexado01_1985  alexado01    1985      1    TOR   AL  36    0   0   0   0   0   0    0   0   0   0   0      0       1950     Doyle  Alexander     190      75
allenga01_1985  allenga01    1985      1    TOR   AL  14   34   2   4   1   0   0    3   0   0   0  10     10       1955      Gary   Allenson     185      71

In [745]:
# we need to combine same IDs, different stints into one person
# grouped = batters2.groupby(batters2.index)[['G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'score']].sum()
bats2_grouped = batters2.groupby(batters2.index).agg({'playerID': np.max, 'yearID': np.max, 'G': np.sum, 'AB': np.sum, 'R': np.sum, 'H': np.sum, '2B': np.sum, '3B': np.sum, 'HR': np.sum, 'RBI': np.sum, 'SB': np.sum, 'CS': np.sum, 'BB': np.sum, 'SO': np.sum, 'score': np.sum, 'birthYear': np.max, 'nameFirst': np.max, 'nameLast': np.max, 'birthYear': np.max, 'weight': np.max, 'height': np.max})

In [746]:
bats2_grouped.sort('score', ascending=False, inplace=True)
bats2_grouped[:10]

                 AB nameFirst  RBI    G  birthYear   playerID    H   BB  weight  height  HR  yearID    R   SO  2B  SB  CS  3B   nameLast  score
sosasa01_2001   577     Sammy  160  160       1968   sosasa01  189  116     165      72  64    2001  146  153  34   0   2   5       Sosa    731
sosasa01_1998   643     Sammy  158  159       1968   sosasa01  198   73     165      72  66    1998  134  171  20  18   9   0       Sosa    726
walkela01_1997  568     Larry  130  153       1966  walkela01  208   78     185      74  49    1997  143   90  46  33   8   4     Walker    715
rodrial01_2007  583      Alex  156  158       1975  rodrial01  183   95     225      75  54    2007  143  120  31  24   4   0  Rodriguez    699
heltoto01_2000  580      Todd  147  160       1973  heltoto01  216  103     220      74  42    2000  138   61  59   5   3   2     Helton    695
burksel01_1996  613     Ellis  128  156       1964  burksel01  211   61     175      74  40    1996  142  114  45  32   6   8      Burks    694
gonzalu01_2001  609      Luis  142  162       1967  gonzalu01  198  100     180      74  57    2001  128   83  36   1   1   7   Gonzalez    690
bondsba01_2001  476     Barry  137  153       1964  bondsba01  156  177     185      73  73    2001  129   93  32  13   3   2      Bonds    690
heltoto01_2001  587      Todd  146  159       1973  heltoto01  197   98     220      74  49    2001  132  104  54   7   5   2     Helton    687
griffke02_1997  608       Ken  147  157       1969  griffke02  185   76     195      75  56    1997  125  121  34  15   4   3    Griffey    680

In [747]:
# df = fielding.groupby(level=0, group_keys=False).apply(lambda x: x.ix[x.G.idxmax()])
# # get most common fielding positions
# fielding_positions = df[['playerID', 'yearID', 'POS', 'G']]
# fielding_positions[:10]

# # given a row from the fielding_positions df, replaces POS=OF with the most played outfield position in fieldingOF
# def getOFPosition(row):
#     if row['POS'] == 'OF':
#         print row.name
#         return fieldingOF.loc[row.name].Glf
# #         return 'OF'
#     else:
#         return row['POS']

# positions = fielding_positions.apply(getOFPosition, axis=1)

#fielding_positions.iloc[0].name

#fieldingOF.loc['allisar01_1871'][['Glf', 'Gcf', 'Grf']].idxmax()

# fieldingOF.loc[fielding_positions.loc['aaronha01_1974'].name]

In [748]:
appearances = pd.read_csv('./data/Appearances.csv')

In [749]:
appearances = appearances[['yearID', 'playerID', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_dh']]
# start at 1974 becuase DH position starts there
appearances = appearances[appearances.yearID >= 1985]
appearances[:10]

       yearID   playerID  G_c  G_1b  G_2b  G_3b  G_ss  G_lf  G_cf  G_rf  G_dh
62205    1985  barkele01    0     0     0     0     0     0     0     0     0
62206    1985  bedrost01    0     0     0     0     0     0     0     0     0
62207    1985  benedbr01   70     0     0     0     0     0     0     0     0
62208    1985   campri01    0     0     0     0     0     0     0     0     0
62209    1985  ceronri01   90     0     0     0     0     0     0     0     0
62210    1985  chambch01    0    39     0     0     0     0     0     0     0
62211    1985  dedmoje01    0     0     0     0     0     0     0     0     0
62212    1985  forstte01    0     0     0     0     0     0     0     0     0
62213    1985  garbege01    0     0     0     0     0     0     0     0     0
62214    1985   hallal02    0     0     0     0     0     6     6     3     0

In [750]:
# add player/year ID to appearances
appearances_index = appearances.apply(create_player_year_id, axis=1)
appearances.set_index(appearances_index, inplace=True)
# remove player and year id from appearances so we can get max of positions
appearances.drop(['playerID', 'yearID'], axis=1, inplace=True)
# drop all pitchers (all 0)
appearances[:10]

                G_c  G_1b  G_2b  G_3b  G_ss  G_lf  G_cf  G_rf  G_dh
barkele01_1985    0     0     0     0     0     0     0     0     0
bedrost01_1985    0     0     0     0     0     0     0     0     0
benedbr01_1985   70     0     0     0     0     0     0     0     0
campri01_1985     0     0     0     0     0     0     0     0     0
ceronri01_1985   90     0     0     0     0     0     0     0     0
chambch01_1985    0    39     0     0     0     0     0     0     0
dedmoje01_1985    0     0     0     0     0     0     0     0     0
forstte01_1985    0     0     0     0     0     0     0     0     0
garbege01_1985    0     0     0     0     0     0     0     0     0
hallal02_1985     0     0     0     0     0     6     6     3     0

In [751]:
# remove duplicates
appearances = appearances.groupby(appearances.index).sum()

In [752]:
def getPlayerPosition(row):
    if (appearances.loc[row.name].max() == 0):
        # probably a pitcher so remove
        return 'NA'
    else:
        return appearances.loc[row.name].idxmax()

# def getPlayerPosition(row):
#     return appearances.loc[row.name].max()

In [753]:
# batters2 = batters2[batters2.index.isin(appearances.index)]
# batters2

bats2_grouped = bats2_grouped[bats2_grouped.index.isin(appearances.index)]
bats2_grouped

                 AB nameFirst  RBI    G  birthYear   playerID    H   BB  weight  height  HR  yearID    R   SO  2B  SB  CS  3B     nameLast  score
sosasa01_2001   577     Sammy  160  160       1968   sosasa01  189  116     165      72  64    2001  146  153  34   0   2   5         Sosa    731
sosasa01_1998   643     Sammy  158  159       1968   sosasa01  198   73     165      72  66    1998  134  171  20  18   9   0         Sosa    726
walkela01_1997  568     Larry  130  153       1966  walkela01  208   78     185      74  49    1997  143   90  46  33   8   4       Walker    715
rodrial01_2007  583      Alex  156  158       1975  rodrial01  183   95     225      75  54    2007  143  120  31  24   4   0    Rodriguez    699
heltoto01_2000  580      Todd  147  160       1973  heltoto01  216  103     220      74  42    2000  138   61  59   5   3   2       Helton    695
burksel01_1996  613     Ellis  128  156       1964  burksel01  211   61     175      74  40    1996  142  114  45  32   6   8        Burks    694
gonzalu01_2001  609      Luis  142  162       1967  gonzalu01  198  100     180      74  57    2001  128   83  36   1   1   7     Gonzalez    690
bondsba01_2001  476     Barry  137  153       1964  bondsba01  156  177     185      73  73    2001  129   93  32  13   3   2        Bonds    690
heltoto01_2001  587      Todd  146  159       1973  heltoto01  197   98     220      74  49    2001  132  104  54   7   5   2       Helton    687
griffke02_1997  608       Ken  147  157       1969  griffke02  185   76     195      75  56    1997  125  121  34  15   4   3      Griffey    680
rodrial01_2001  632      Alex  135  162       1975  rodrial01  201   75     225      75  52    2001  133  131  34  18   3   1    Rodriguez    679
rodrial01_1998  686      Alex  124  161       1975  rodrial01  213   45     225      75  42    1998  123  121  35  46  13   5    Rodriguez    677
griffke02_1998  633       Ken  146  161       1969  griffke02  180   76     195      75  56    1998  120  121  33  20   5   3      Griffey    673
belleal01_1998  609    Albert  152  163       1966  belleal01  200   81     190      73  49    1998  113   84  48   6   4   2        Belle    670
rodrial01_2002  624      Alex  142  162       1975  rodrial01  187   87     225      75  57    2002  125  122  27   9   4   2    Rodriguez    665
galaran01_1996  626    Andres  150  159       1961  galaran01  190   40     235      75  47    1996  119  157  39  18   8   3    Galarraga    663
mcgwima01_1998  509      Mark  147  155       1963  mcgwima01  152  162     215      77  70    1998  130  155  21   1   0   0      McGwire    661
pujolal01_2003  591    Albert  124  157       1980  pujolal01  212   79     230      75  43    2003  137   65  51   5   1   1       Pujols    660
sosasa01_1999   625     Sammy  141  162       1968   sosasa01  180   78     165      72  63    1999  114  171  24   7   8   2         Sosa    659
belleal01_1996  602    Albert  148  158       1966  belleal01  187   99     190      73  48    1996  124   87  38  11   0   3        Belle    658
rodrial01_1996  601      Alex  123  146       1975  rodrial01  215   59     225      75  36    1996  141  104  54  15   4   1    Rodriguez    658
bagweje01_2000  590      Jeff  132  159       1968  bagweje01  183  107     195      72  47    2000  152  116  37   9   6   1      Bagwell    656
hollima01_2007  636      Matt  137  158       1980  hollima01  216   63     250      76  36    2007  120  126  50  11   4   6     Holliday    654
rolliji01_2007  716     Jimmy   94  162       1978  rolliji01  212   49     180      68  30    2007  139   85  38  41   6  20      Rollins    654
soriaal01_2002  696   Alfonso  102  156       1976  soriaal01  209   23     195      73  39    2002  128  157  51  41  13   2      Soriano    652
gonzaju03_1998  606      Juan  157  154       1969  gonzaju03  193   46     175      75  45    1998  110  126  50   2   1   2     Gonzalez    651
pujolal01_2004  592    Albert  123  154       1980  pujolal01  196   84     230      75  46    2004  133   52  51   5   5   2       Pujols    650
pujolal01_2009  568    Albert  135  160       1980  pujolal01  186  115     230      75  47    2009  124   64  45  16   4   1       Pujols    649
bondsba01_1993  539     Barry  123  159       1964  bondsba01  181  126     185      73  46    1993  129   79  38  29  12   4        Bonds    646
rodrial01_2005  605      Alex  130  162       1975  rodrial01  194   91     225      75  48    2005  124  139  29  21   6   1    Rodriguez    644
...             ...       ...  ...  ...        ...        ...  ...  ...     ...     ...  ..     ...  ...  ...  ..  ..  ..  ..          ...    ...
lampde01_1990     0    Dennis    0   47       1952   lampde01    0    0     200      76   0    1990    0    0   0   0   0   0         Lamp      0
lampde01_1989     0    Dennis    0   42       1952   lampde01    0    0     200      76   0    1989    0    0   0   0   0   0         Lamp      0
lampde01_1988     0    Dennis    0   46       1952   lampde01    0    0     200      76   0    1988    0    0   0   0   0   0         Lamp      0
lampde01_1987     0    Dennis    0   36       1952   lampde01    0    0     200      76   0    1987    0    0   0   0   0   0         Lamp      0
lampde01_1985     0    Dennis    0   53       1952   lampde01    0    0     200      76   0    1985    0    0   0   0   0   0         Lamp      0
langsma01_1990    0      Mark    0   33       1960  langsma01    0    0     177      74   0    1990    0    0   0   0   0   0     Langston      0
lambech01_2009    0     Chris    0    6       1983  lambech01    0    0     205      73   0    2009    0    0   0   0   0   0      Lambert      0
lambech01_2008    0     Chris    0    8       1983  lambech01    0    0     205      73   0    2008    0    0   0   0   0   0      Lambert      0
lakerti01_2005    1       Tim    0    1       1969  lakerti01    0    0     185      74   0    2005    0    1   0   0   0   0        Laker      0
lahtije01_1986    0      Jeff    0    4       1956  lahtije01    0    0     180      72   0    1986    0    0   0   0   0   0        Lahti      0
lahtije01_1985    9      Jeff    0   52       1956  lahtije01    0    0     180      72   0    1985    0    5   0   0   0   0        Lahti      0
lafrobo01_2014    0     Bobby    0    6       1986  lafrobo01    0    0     215      76   0    2014    0    0   0   0   0   0  LaFromboise      0
lampkto01_1988    4       Tom    0    4       1964  lampkto01    0    1     180      71   0    1988    0    0   0   0   0   0      Lampkin      0
lancale01_1992    0       Les    0   41       1962  lancale01    0    0     200      74   0    1992    0    0   0   0   0   0    Lancaster      0
lancale01_1993    4       Les    0   50       1962  lancale01    0    1     200      74   0    1993    0    2   0   0   0   0    Lancaster      0
landrbi01_1986    2      Bill    0   10       1957  landrbi01    0    0     185      74   0    1986    0    0   0   0   0   0      Landrum      0
landrbi01_1988    2      Bill    0    7       1957  landrbi01    0    0     185      74   0    1988    0    1   0   0   0   0      Landrum      0
landrbi01_1989    3      Bill    0   56       1957  landrbi01    0    0     185      74   0    1989    0    0   0   0   0   0      Landrum      0
landrbi01_1991    4      Bill    0   61       1957  landrbi01    0    0     185      74   0    1991    0    3   0   0   0   0      Landrum      0
landrbi01_1992    0      Bill    0   18       1957  landrbi01    0    0     185      74   0    1992    0    0   0   0   0   0      Landrum      0
landrbi01_1993    0      Bill    0   18       1957  landrbi01    0    1     185      74   0    1993    0    0   0   0   0   0      Landrum      0
langery01_2002    1      Ryan    0    1       1980  langery01    0    0     220      75   0    2002    0    0   0   0   0   0   Langerhans      0
langery01_2012    1      Ryan    0    2       1980  langery01    0    0     220      75   0    2012    0    1   0   0   0   0   Langerhans      0
langfri01_1985    0      Rick    0   23       1952  langfri01    0    0     180      72   0    1985    0    0   0   0   0   0     Langford      0
langfri01_1986    0      Rick    0   17       1952  langfri01    0    0     180      72   0    1986    0    0   0   0   0   0     Langford      0
langsma01_1985    0      Mark    0   24       1960  langsma01    0    0     177      74   0    1985    0    0   0   0   0   0     Langston      0
langsma01_1986    0      Mark    0   37       1960  langsma01    0    0     177      74   0    1986    0    0   0   0   0   0     Langston      0
langsma01_1987    0      Mark    0   35       1960  langsma01    0    0     177      74   0    1987    0    0   0   0   0   0     Langston      0
langsma01_1988    0      Mark    0   35       1960  langsma01    0    0     177      74   0    1988    0    0   0   0   0   0     Langston      0
zuvelpa01_1991    0      Paul    0    2       1958  zuvelpa01    0    0     173      72   0    1991    0    0   0   0   0   0      Zuvella      0

[34690 rows x 20 columns]

In [754]:
positions = bats2_grouped.apply(getPlayerPosition, axis=1)

In [755]:
bats2_grouped['position'] = positions

# remove pitchers

bats2_grouped = bats2_grouped[bats2_grouped['position'] != 'NA']
bats2_grouped[:10]

                 AB nameFirst  RBI    G  birthYear   playerID    H   BB  weight  height  HR  yearID    R   SO  2B  SB  CS  3B   nameLast  score position
sosasa01_2001   577     Sammy  160  160       1968   sosasa01  189  116     165      72  64    2001  146  153  34   0   2   5       Sosa    731     G_rf
sosasa01_1998   643     Sammy  158  159       1968   sosasa01  198   73     165      72  66    1998  134  171  20  18   9   0       Sosa    726     G_rf
walkela01_1997  568     Larry  130  153       1966  walkela01  208   78     185      74  49    1997  143   90  46  33   8   4     Walker    715     G_rf
rodrial01_2007  583      Alex  156  158       1975  rodrial01  183   95     225      75  54    2007  143  120  31  24   4   0  Rodriguez    699     G_3b
heltoto01_2000  580      Todd  147  160       1973  heltoto01  216  103     220      74  42    2000  138   61  59   5   3   2     Helton    695     G_1b
burksel01_1996  613     Ellis  128  156       1964  burksel01  211   61     175      74  40    1996  142  114  45  32   6   8      Burks    694     G_lf
gonzalu01_2001  609      Luis  142  162       1967  gonzalu01  198  100     180      74  57    2001  128   83  36   1   1   7   Gonzalez    690     G_lf
bondsba01_2001  476     Barry  137  153       1964  bondsba01  156  177     185      73  73    2001  129   93  32  13   3   2      Bonds    690     G_lf
heltoto01_2001  587      Todd  146  159       1973  heltoto01  197   98     220      74  49    2001  132  104  54   7   5   2     Helton    687     G_1b
griffke02_1997  608       Ken  147  157       1969  griffke02  185   76     195      75  56    1997  125  121  34  15   4   3    Griffey    680     G_cf

In [756]:
# add salaries
salaries = pd.read_csv('./data/Salaries.csv')
salaries[:10]

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000
5    1985    ATL   NL  chambch01  800000
6    1985    ATL   NL  dedmoje01  150000
7    1985    ATL   NL  forstte01  483333
8    1985    ATL   NL  garbege01  772000
9    1985    ATL   NL  harpete01  250000

In [757]:
salary_index = salaries.apply(create_player_year_id, axis=1)
salaries.set_index(salary_index, inplace=True)

In [758]:
salaries.drop(['yearID', 'teamID', 'lgID', 'playerID'], axis=1, inplace=True)
salaries[:10]

                salary
barkele01_1985  870000
bedrost01_1985  550000
benedbr01_1985  545000
campri01_1985   633333
ceronri01_1985  625000
chambch01_1985  800000
dedmoje01_1985  150000
forstte01_1985  483333
garbege01_1985  772000
harpete01_1985  250000

In [759]:
bats2_final = pd.merge(left=bats2_grouped, right= salaries, how='left', left_index=True, right_index=True)

In [760]:
bats2_final.dropna(axis=0, how='any', inplace=True)
bats2_final[:10]

                 AB nameFirst  RBI    G  birthYear   playerID    H  BB  weight  height  HR  yearID   R   SO  2B  SB  CS  3B nameLast  score position   salary
abbotje01_1998  244      Jeff   41   89       1972  abbotje01   68   9     190      74  12    1998  33   28  14   3   3   1   Abbott    197     G_cf   175000
abbotje01_1999   57      Jeff    6   17       1972  abbotje01    9   5     190      74   2    1999   5   12   0   1   1   0   Abbott     27     G_lf   255000
abbotje01_2000  215      Jeff   29   80       1972  abbotje01   59  21     190      74   3    2000  31   38  15   2   1   1   Abbott    147     G_cf   255000
abbotje01_2001   42      Jeff    5   28       1972  abbotje01   11   3     190      74   0    2001   5    7   3   0   0   0   Abbott     24     G_cf   300000
abbotku01_1993   61      Kurt    9   20       1969  abbotku01   15   3     180      71   3    1993  11   20   1   2   0   0   Abbott     47     G_lf   109000
abbotku01_1994  345      Kurt   33  101       1969  abbotku01   86  16     180      71   9    1994  41   98  17   3   0   3   Abbott    213     G_ss   109000
abbotku01_1995  420      Kurt   60  120       1969  abbotku01  107  36     180      71  17    1995  60  110  18   4   3   7   Abbott    314     G_ss   119000
abbotku01_1996  320      Kurt   33  109       1969  abbotku01   81  22     180      71   8    1996  37   99  18   3   3   7   Abbott    210     G_ss   250000
abbotku01_1997  252      Kurt   30   94       1969  abbotku01   69  14     180      71   6    1997  35   68  18   3   1   2   Abbott    177     G_2b   650000
abbotku01_1998  194      Kurt   24   77       1969  abbotku01   51  12     180      71   5    1998  26   53  13   2   1   1   Abbott    133     G_ss  1000000

In [761]:
# function that gives us the age of a player in the current season
def age(row):
    return row['yearID'] - row['birthYear']

In [762]:
bats2_final['age'] = bats2_final.apply(lambda row: age(row), axis=1)
bats2_final[:10]

                 AB nameFirst  RBI    G  birthYear   playerID    H  BB  weight  height  HR  yearID   R   SO  2B  SB  CS  3B nameLast  score position   salary  age
abbotje01_1998  244      Jeff   41   89       1972  abbotje01   68   9     190      74  12    1998  33   28  14   3   3   1   Abbott    197     G_cf   175000   26
abbotje01_1999   57      Jeff    6   17       1972  abbotje01    9   5     190      74   2    1999   5   12   0   1   1   0   Abbott     27     G_lf   255000   27
abbotje01_2000  215      Jeff   29   80       1972  abbotje01   59  21     190      74   3    2000  31   38  15   2   1   1   Abbott    147     G_cf   255000   28
abbotje01_2001   42      Jeff    5   28       1972  abbotje01   11   3     190      74   0    2001   5    7   3   0   0   0   Abbott     24     G_cf   300000   29
abbotku01_1993   61      Kurt    9   20       1969  abbotku01   15   3     180      71   3    1993  11   20   1   2   0   0   Abbott     47     G_lf   109000   24
abbotku01_1994  345      Kurt   33  101       1969  abbotku01   86  16     180      71   9    1994  41   98  17   3   0   3   Abbott    213     G_ss   109000   25
abbotku01_1995  420      Kurt   60  120       1969  abbotku01  107  36     180      71  17    1995  60  110  18   4   3   7   Abbott    314     G_ss   119000   26
abbotku01_1996  320      Kurt   33  109       1969  abbotku01   81  22     180      71   8    1996  37   99  18   3   3   7   Abbott    210     G_ss   250000   27
abbotku01_1997  252      Kurt   30   94       1969  abbotku01   69  14     180      71   6    1997  35   68  18   3   1   2   Abbott    177     G_2b   650000   28
abbotku01_1998  194      Kurt   24   77       1969  abbotku01   51  12     180      71   5    1998  26   53  13   2   1   1   Abbott    133     G_ss  1000000   29

In [763]:
pitchers = pd.read_csv('./data/Pitching.csv')

In [764]:
pitchers = pitchers[pitchers['yearID'] >= 1985]
pitchers[:10]

        playerID  yearID  stint teamID lgID   W   L   G  GS  CG  SHO  SV  IPouts    H   ER  HR  BB   SO  BAOpp   ERA  IBB  WP  HBP  BK   BFP  GF    R  SH  SF  GIDP
24980   aasedo01    1985      1    BAL   AL  10   6  54   0   0    0  14     264   83   37   6  35   67   0.25  3.78    7   0    1   1   366  43   44 NaN NaN   NaN
24981  abregjo01    1985      1    CHN   NL   1   1   6   5   0    0   0      72   32   17   3  12   13   0.35  6.38    1   0    0   0   109   0   18 NaN NaN   NaN
24982  ackerji01    1985      1    TOR   AL   7   2  61   0   0    0  10     259   86   31   7  43   42   0.26  3.23    1   2    3   0   370  26   35 NaN NaN   NaN
24983  agostju01    1985      1    CHA   AL   4   3  54   0   0    0   1     181   45   24   3  23   39   0.21  3.58    1   0    3   0   246  21   27 NaN NaN   NaN
24984  aguilri01    1985      1    NYN   NL  10   7  21  19   2    0   0     367  118   44   8  37   74   0.25  3.24    2   5    2   2   507   1   49 NaN NaN   NaN
24985  alexado01    1985      1    TOR   AL  17  10  36  36   6    1   0     782  268  100  28  67  142   0.26  3.45    0   9    6   0  1090   0  105 NaN NaN   NaN
24986  allenne01    1985      2    NYA   AL   1   0  17   0   0    0   1      88   26    9   1  13   16   0.23  2.76    0   2    0   0   124  10    9 NaN NaN   NaN
24987  allenne01    1985      1    SLN   NL   1   4  23   1   0    0   2      87   32   18   3  17   10   0.28  5.59    6   1    1   1   135  13   22 NaN NaN   NaN
24988  anderla02    1985      1    PHI   NL   3   3  57   0   0    0   3     219   78   35   5  26   50   0.27  4.32    4   1    3   1   318  19   41 NaN NaN   NaN
24989  andujjo01    1985      1    SLN   NL  21  12  38  38  10    2   0     809  265  102  15  82  112   0.26  3.40   12   2   11   0  1127   0  113 NaN NaN   NaN

In [765]:
pitchers = pitchers[['playerID', 'yearID', 'teamID', 'W', 'L', 'G', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp', 'R']]
pitchers_index = pitchers.apply(create_player_year_id, axis=1)
pitchers.set_index(pitchers_index, inplace=True)
pitchers[:10]

                 playerID  yearID teamID   W   L   G  SHO  SV  IPouts    H   ER  HR  BB   SO  BAOpp    R
aasedo01_1985    aasedo01    1985    BAL  10   6  54    0  14     264   83   37   6  35   67   0.25   44
abregjo01_1985  abregjo01    1985    CHN   1   1   6    0   0      72   32   17   3  12   13   0.35   18
ackerji01_1985  ackerji01    1985    TOR   7   2  61    0  10     259   86   31   7  43   42   0.26   35
agostju01_1985  agostju01    1985    CHA   4   3  54    0   1     181   45   24   3  23   39   0.21   27
aguilri01_1985  aguilri01    1985    NYN  10   7  21    0   0     367  118   44   8  37   74   0.25   49
alexado01_1985  alexado01    1985    TOR  17  10  36    1   0     782  268  100  28  67  142   0.26  105
allenne01_1985  allenne01    1985    NYA   1   0  17    0   1      88   26    9   1  13   16   0.23    9
allenne01_1985  allenne01    1985    SLN   1   4  23    0   2      87   32   18   3  17   10   0.28   22
anderla02_1985  anderla02    1985    PHI   3   3  57    0   3     219   78   35   5  26   50   0.27   41
andujjo01_1985  andujjo01    1985    SLN  21  12  38    2   0     809  265  102  15  82  112   0.26  113

In [766]:
# merge repeated entries from stints
pitchers_grouped = pitchers.groupby(pitchers.index).agg({'playerID': np.max, 'yearID': np.max, 'teamID': np.max, 'W': np.sum, 'L': np.sum, 'G': np.sum, 'SHO': np.sum, 'SV': np.sum, 'IPouts': np.sum, 'H': np.sum, 'ER': np.sum, 'HR': np.sum, 'BB': np.sum, 'SO': np.sum, 'BAOpp': np.mean, 'R': np.sum})
pitchers_grouped[:10]

                BB   G   playerID   H teamID  IPouts  L  HR  yearID  BAOpp  SO   W  SV   R  ER  SHO
aardsda01_2004  10  11  aardsda01  20    SFN      32  0   1    2004  0.417   5   1   0   8   8    0
aardsda01_2006  28  45  aardsda01  41    CHN     159  0   9    2006  0.214  49   3   0  25  24    0
aardsda01_2007  17  25  aardsda01  39    CHA      97  1   4    2007  0.300  36   2   0  24  23    0
aardsda01_2008  35  47  aardsda01  49    BOS     146  2   4    2008  0.268  49   4   0  32  30    0
aardsda01_2009  34  73  aardsda01  49    SEA     214  6   4    2009  0.189  80   3  38  23  20    0
aardsda01_2010  25  53  aardsda01  33    SEA     149  6   5    2010  0.198  49   0  31  19  19    0
aardsda01_2012   1   1  aardsda01   1    NYA       3  0   1    2012  0.250   1   0   0   1   1    0
aardsda01_2013  19  43  aardsda01  39    NYN     119  2   7    2013  0.257  36   2   0  20  19    0
aasedo01_1985   35  54   aasedo01  83    BAL     264  6   6    1985  0.250  67  10  14  44  37    0
aasedo01_1986   28  66   aasedo01  71    BAL     245  7   6    1986  0.230  67   6  34  29  27    0

In [767]:
def pitcher_ERA(row):
    if row['IPouts'] == 0:
        return 15
    return (row['ER'] / row['IPouts']) * 27
    
def pitcher_score(row):
    return row['IPouts'] - (3 * row['ER']) - row['H'] - row['BB'] + row['SO'] + (5 * row['W'])

In [768]:
pitchers_grouped['ERA'] = pitchers_grouped.apply(lambda row: pitcher_ERA(row), axis=1)

pitchers_grouped['score'] = pitchers_grouped.apply(lambda row: pitcher_score(row), axis=1)

pitchers_grouped.sort('score', ascending=False, inplace=True)

pitchers_grouped[:10]

                BB   G   playerID    H teamID  IPouts   L  HR  yearID  BAOpp   SO   W  SV   R  ER  SHO       ERA  score
goodedw01_1985  69  35  goodedw01  198    NYN     830   4  13    1985  0.200  268  24   0  51  47    8  1.528916    810
johnsra05_2001  71  35  johnsra05  181    ARI     749   6  19    2001  0.203  372  21   0  74  69    2  2.487316    767
johnsra05_2002  71  35  johnsra05  197    ARI     780   5  26    2002  0.208  334  24   0  78  67    4  2.319231    765
scottmi03_1986  72  37  scottmi03  182    HOU     826  10  17    1986  0.180  306  18   0  73  68    5  2.222760    764
johnsra05_1999  70  35  johnsra05  207    ARI     815   9  30    1999  0.000  364  17   0  86  75    2  2.484663    762
martipe02_2000  32  29  martipe02  128    BOS     651   6  17    2000  0.167  284  18   0  44  42    4  1.741935    739
clemero02_1997  68  34  clemero02  204    TOR     792   7   9    1997  0.210  292  21   0  65  60    3  2.045455    737
martipe02_1997  67  31  martipe02  158    MON     724   8  16    1997  0.180  305  17   0  65  51    4  1.901934    736
martipe02_1999  37  31  martipe02  160    BOS     640   4   9    1999  0.000  313  23   0  56  49    1  2.067188    724
verlaju01_2011  57  34  verlaju01  174    DET     753   5  24    2011  0.192  250  24   0  73  67    2  2.402390    691

In [769]:
pitchers2 = pd.merge(left=pitchers_grouped, right=master_df, how='left', left_on='playerID', right_on='playerID')

In [770]:
# add index again

pitchers2_index = pitchers2.apply(create_player_year_id, axis=1)
pitchers2.set_index(pitchers2_index, inplace=True)
pitchers2[:10]

                BB   G   playerID    H teamID  IPouts   L  HR  yearID  BAOpp   SO   W  SV   R  ER  SHO       ERA  score  birthYear nameFirst   nameLast  weight  height
goodedw01_1985  69  35  goodedw01  198    NYN     830   4  13    1985  0.200  268  24   0  51  47    8  1.528916    810       1964    Dwight     Gooden     190      74
johnsra05_2001  71  35  johnsra05  181    ARI     749   6  19    2001  0.203  372  21   0  74  69    2  2.487316    767       1963     Randy    Johnson     225      82
johnsra05_2002  71  35  johnsra05  197    ARI     780   5  26    2002  0.208  334  24   0  78  67    4  2.319231    765       1963     Randy    Johnson     225      82
scottmi03_1986  72  37  scottmi03  182    HOU     826  10  17    1986  0.180  306  18   0  73  68    5  2.222760    764       1955      Mike      Scott     210      74
johnsra05_1999  70  35  johnsra05  207    ARI     815   9  30    1999  0.000  364  17   0  86  75    2  2.484663    762       1963     Randy    Johnson     225      82
martipe02_2000  32  29  martipe02  128    BOS     651   6  17    2000  0.167  284  18   0  44  42    4  1.741935    739       1971     Pedro   Martinez     170      71
clemero02_1997  68  34  clemero02  204    TOR     792   7   9    1997  0.210  292  21   0  65  60    3  2.045455    737       1962     Roger    Clemens     205      76
martipe02_1997  67  31  martipe02  158    MON     724   8  16    1997  0.180  305  17   0  65  51    4  1.901934    736       1971     Pedro   Martinez     170      71
martipe02_1999  37  31  martipe02  160    BOS     640   4   9    1999  0.000  313  23   0  56  49    1  2.067188    724       1971     Pedro   Martinez     170      71
verlaju01_2011  57  34  verlaju01  174    DET     753   5  24    2011  0.192  250  24   0  73  67    2  2.402390    691       1983    Justin  Verlander     225      77

In [771]:
# add salaries to pitchers

pitchers_complete = pd.merge(left=pitchers2, right= salaries, how='left', left_index=True, right_index=True)
pitchers_complete[:10]

                BB   G   playerID   H teamID  IPouts  L  HR  yearID  BAOpp  SO   W  SV   R  ER  SHO       ERA  score  birthYear nameFirst nameLast  weight  height   salary
aardsda01_2004  10  11  aardsda01  20    SFN      32  0   1    2004  0.417   5   1   0   8   8    0  6.750000    -12       1981     David  Aardsma     205      75   300000
aardsda01_2006  28  45  aardsda01  41    CHN     159  0   9    2006  0.214  49   3   0  25  24    0  4.075472     82       1981     David  Aardsma     205      75      NaN
aardsda01_2007  17  25  aardsda01  39    CHA      97  1   4    2007  0.300  36   2   0  24  23    0  6.402062     18       1981     David  Aardsma     205      75   387500
aardsda01_2008  35  47  aardsda01  49    BOS     146  2   4    2008  0.268  49   4   0  32  30    0  5.547945     41       1981     David  Aardsma     205      75   403250
aardsda01_2009  34  73  aardsda01  49    SEA     214  6   4    2009  0.189  80   3  38  23  20    0  2.523364    166       1981     David  Aardsma     205      75   419000
aardsda01_2010  25  53  aardsda01  33    SEA     149  6   5    2010  0.198  49   0  31  19  19    0  3.442953     83       1981     David  Aardsma     205      75  2750000
aardsda01_2012   1   1  aardsda01   1    NYA       3  0   1    2012  0.250   1   0   0   1   1    0  9.000000     -1       1981     David  Aardsma     205      75   500000
aardsda01_2013  19  43  aardsda01  39    NYN     119  2   7    2013  0.257  36   2   0  20  19    0  4.310924     50       1981     David  Aardsma     205      75      NaN
aasedo01_1985   35  54   aasedo01  83    BAL     264  6   6    1985  0.250  67  10  14  44  37    0  3.784091    152       1954       Don     Aase     190      75      NaN
aasedo01_1986   28  66   aasedo01  71    BAL     245  7   6    1986  0.230  67   6  34  29  27    0  2.975510    162       1954       Don     Aase     190      75   600000

In [772]:
pitchers_complete.dropna(axis=0, how='any', inplace=True)
pitchers_complete[:10]

                BB   G   playerID   H teamID  IPouts  L  HR  yearID  BAOpp  SO  W  SV   R  ER  SHO       ERA  score  birthYear nameFirst nameLast  weight  height   salary
aardsda01_2004  10  11  aardsda01  20    SFN      32  0   1    2004  0.417   5  1   0   8   8    0  6.750000    -12       1981     David  Aardsma     205      75   300000
aardsda01_2007  17  25  aardsda01  39    CHA      97  1   4    2007  0.300  36  2   0  24  23    0  6.402062     18       1981     David  Aardsma     205      75   387500
aardsda01_2008  35  47  aardsda01  49    BOS     146  2   4    2008  0.268  49  4   0  32  30    0  5.547945     41       1981     David  Aardsma     205      75   403250
aardsda01_2009  34  73  aardsda01  49    SEA     214  6   4    2009  0.189  80  3  38  23  20    0  2.523364    166       1981     David  Aardsma     205      75   419000
aardsda01_2010  25  53  aardsda01  33    SEA     149  6   5    2010  0.198  49  0  31  19  19    0  3.442953     83       1981     David  Aardsma     205      75  2750000
aardsda01_2012   1   1  aardsda01   1    NYA       3  0   1    2012  0.250   1  0   0   1   1    0  9.000000     -1       1981     David  Aardsma     205      75   500000
aasedo01_1986   28  66   aasedo01  71    BAL     245  7   6    1986  0.230  67  6  34  29  27    0  2.975510    162       1954       Don     Aase     190      75   600000
aasedo01_1987    4   7   aasedo01   8    BAL      24  0   1    1987  0.270   3  1   2   2   2    0  2.250000     14       1954       Don     Aase     190      75   625000
aasedo01_1988   37  35   aasedo01  40    BAL     140  0   4    1988  0.240  28  0   0  22  21    0  4.050000     28       1954       Don     Aase     190      75   675000
aasedo01_1989   26  49   aasedo01  56    NYN     178  5   5    1989  0.240  34  1   2  27  26    0  3.943820     57       1954       Don     Aase     190      75   400000

In [773]:
#adding ages to pitchers

In [774]:
pitchers_complete['age'] = pitchers_complete.apply(lambda row: age(row), axis=1)
pitchers_complete[:10]

                BB   G   playerID   H teamID  IPouts  L  HR  yearID  BAOpp  SO  W  SV   R  ER  SHO       ERA  score  birthYear nameFirst nameLast  weight  height   salary  age
aardsda01_2004  10  11  aardsda01  20    SFN      32  0   1    2004  0.417   5  1   0   8   8    0  6.750000    -12       1981     David  Aardsma     205      75   300000   23
aardsda01_2007  17  25  aardsda01  39    CHA      97  1   4    2007  0.300  36  2   0  24  23    0  6.402062     18       1981     David  Aardsma     205      75   387500   26
aardsda01_2008  35  47  aardsda01  49    BOS     146  2   4    2008  0.268  49  4   0  32  30    0  5.547945     41       1981     David  Aardsma     205      75   403250   27
aardsda01_2009  34  73  aardsda01  49    SEA     214  6   4    2009  0.189  80  3  38  23  20    0  2.523364    166       1981     David  Aardsma     205      75   419000   28
aardsda01_2010  25  53  aardsda01  33    SEA     149  6   5    2010  0.198  49  0  31  19  19    0  3.442953     83       1981     David  Aardsma     205      75  2750000   29
aardsda01_2012   1   1  aardsda01   1    NYA       3  0   1    2012  0.250   1  0   0   1   1    0  9.000000     -1       1981     David  Aardsma     205      75   500000   31
aasedo01_1986   28  66   aasedo01  71    BAL     245  7   6    1986  0.230  67  6  34  29  27    0  2.975510    162       1954       Don     Aase     190      75   600000   32
aasedo01_1987    4   7   aasedo01   8    BAL      24  0   1    1987  0.270   3  1   2   2   2    0  2.250000     14       1954       Don     Aase     190      75   625000   33
aasedo01_1988   37  35   aasedo01  40    BAL     140  0   4    1988  0.240  28  0   0  22  21    0  4.050000     28       1954       Don     Aase     190      75   675000   34
aasedo01_1989   26  49   aasedo01  56    NYN     178  5   5    1989  0.240  34  1   2  27  26    0  3.943820     57       1954       Don     Aase     190      75   400000   35

In [775]:
# STUFF WE DID FOR PROPOSAL

In [776]:
arranged = bats2_final[(bats2_final['yearID'] == 2013) & (bats2_final['salary'] < 3900000)].sort('score', ascending=False)
arranged[arranged['position'] == 'G_cf'][:1]

                 AB nameFirst  RBI    G  birthYear   playerID    H   BB  weight  height  HR  yearID    R   SO  2B  SB  CS  3B nameLast  score position  salary  age
troutmi01_2013  589      Mike   97  157       1991  troutmi01  190  110     230      74  27    2013  109  136  39  33   7   9    Trout    567     G_cf  510000   22

In [777]:
bats2_final[(bats2_final["yearID"] == 2014) & (bats2_final["playerID"] == "troutmi01")]

                 AB nameFirst  RBI    G  birthYear   playerID    H  BB  weight  height  HR  yearID    R   SO  2B  SB  CS  3B nameLast  score position   salary  age
troutmi01_2014  602      Mike  111  157       1991  troutmi01  173  83     230      74  36    2014  115  184  39  16   2   9    Trout    580     G_cf  1000000   23

In [778]:
pitcher_baseline = pitchers_complete[pitchers_complete['yearID'] == 2013].groupby('teamID')[['salary', 'score']].sum()
pitcher_baseline = pitcher_baseline[pitcher_baseline['salary'] < 15000000].sort('score', ascending=False)
pitcher_baseline

pitchers_complete[(pitchers_complete['yearID'] == 2014) & (pitchers_complete['teamID'] == 'HOU')]

                BB   G   playerID    H teamID  IPouts   L  HR  yearID  BAOpp   SO   W  SV   R  ER  SHO       ERA  score  birthYear nameFirst nameLast  weight  height    salary  age
chapmke02_2014  11  21  chapmke02   22    HOU      64   0   3    2014  0.268   19   2   0  11  11    0  4.640625     27       1988     Kevin  Chapman     225      75    503400   26
feldmsc01_2014  50  29  feldmsc01  185    HOU     541  12  16    2014  0.266  107   8   0  86  75    1  3.743068    228       1983     Scott  Feldman     230      79  12000000   31
fieldjo03_2014  17  54  fieldjo03   50    HOU     164   6   2    2014  0.242   70   4   4  29  27    0  4.445122    106       1985      Josh   Fields     190      72    506500   29
keuchda01_2014  48  29  keuchda01  187    HOU     600   9  11    2014  0.252  146  12   0  71  65    1  2.925000    376       1988    Dallas  Keuchel     210      75    508700   26
peacobr01_2014  70  28  peacobr01  136    HOU     395   9  20    2014  0.267  119   4   0  80  69    0  4.716456    121       1988      Brad  Peacock     210      73    504300   26
quallch01_2014   5  58  quallch01   54    HOU     154   5   5    2014  0.265   43   1  19  22  19    0  3.331169     86       1978      Chad   Qualls     240      76   2700000   36
verasjo01_2014  27  46  verasjo01   37    HOU     138   1   6    2014  0.229   50   4   1  25  23    0  4.500000     75       1980      Jose    Veras     240      78   3850000   34

In [779]:
pitchers_complete.describe()

                 BB             G             H        IPouts             L            HR        yearID         BAOpp            SO             W            SV             R            ER           SHO           ERA         score    birthYear        weight        height           salary           age
count  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.000000  10744.00000  10744.000000  10744.000000     10744.000000  10744.000000
mean      33.936057     35.689036     93.336839    281.464911      5.241996     10.097636   2000.343075      0.250306     67.975521      5.396407      2.939315     47.060127     42.963421      0.231199      4.687801    120.259308   1970.91949    202.380864     74.422096   1809376.078183     29.423585
std       23.234874     20.470988     67.515897    203.485776      4.141350      8.152693      8.458876      0.076583     52.138727      4.930596      8.241652     33.624071     30.791572      0.666320      3.244141    125.272264      9.28921     22.118127      2.129451   2953598.135280      4.287048
min        0.000000      1.000000      0.000000      0.000000      0.000000      0.000000   1985.000000      0.000000      0.000000      0.000000      0.000000      0.000000      0.000000      0.000000      0.000000   -135.000000   1939.00000    150.000000     66.000000     60000.000000     20.000000
25%       17.000000     21.000000     42.750000    130.000000      2.000000      4.000000   1993.000000      0.230000     29.000000      1.000000      0.000000     21.000000     19.000000      0.000000      3.337079     25.000000   1964.00000    185.000000     73.000000    267500.000000     26.000000
50%       29.000000     32.000000     70.000000    218.000000      4.000000      8.000000   2001.000000      0.256000     56.000000      4.000000      0.000000     35.000000     32.000000      0.000000      4.206131     91.000000   1971.00000    200.000000     74.000000    510275.000000     29.000000
75%       48.000000     51.000000    149.000000    438.000000      8.000000     15.000000   2008.000000      0.282000     95.000000      8.000000      1.000000     75.000000     68.000000      0.000000      5.262712    178.000000   1978.00000    215.000000     76.000000   2025000.000000     32.000000
max      152.000000     94.000000    283.000000    881.000000     21.000000     50.000000   2014.000000      1.000000    372.000000     27.000000     62.000000    155.000000    145.000000     10.000000    108.000000    810.000000   1992.00000    295.000000     83.000000  26000000.000000     50.000000

In [780]:
# testing on 2010 - 2014

# we take 2010's statistics, and try to predict 2011's score
# we also get the difference between 2009 and 2010 scores as a predictor for 2011 score

prediction_year = 2011

pitchers_2009 = pitchers_complete[pitchers_complete["yearID"] == prediction_year - 2]
pitchers_2009 = pitchers_2009.rename(columns = {'score':'old_score'})
pitchers_2009_rel = pitchers_2009[["playerID", "old_score"]]

pitchers_2010 = pitchers_complete[pitchers_complete["yearID"] == prediction_year - 1]
pitchers_2010 = pd.merge(left=pitchers_2010, right=pitchers_2009_rel, left_on='playerID', right_on='playerID')
pitchers_2010["delta_score"] = pitchers_2010.apply(lambda row: row['score'] - row['old_score'], axis=1)
pitchers_2010.drop(['score', 'old_score'], axis=1, inplace=True)

pitchers_2011 = pitchers_complete[pitchers_complete["yearID"] == prediction_year]
pitchers_2011_rel = pitchers_2011[["playerID", "score"]]
pitchers_test = pd.merge(left=pitchers_2010, right=pitchers_2011_rel, left_on='playerID', right_on='playerID')

In [781]:
pitchers_test["constant_factor"] = 1
pitchers_test[:10]

   BB   G   playerID    H teamID  IPouts   L  HR  yearID  BAOpp   SO   W  SV   R  ER  SHO       ERA  birthYear nameFirst  nameLast  weight  height    salary  age  delta_score  score  constant_factor
0  23  70  adamsmi03   48    SDN     200   1   2    2010  0.196   73   4   0  14  13    0  1.755000       1978      Mike     Adams     210      77   1000000   32           58    226                1
1  24  53  affelje01   56    SFN     150   3   4    2010  0.290   44   4   4  25  23    0  4.140000       1979    Jeremy   Affeldt     225      76   4000000   31          -78    129                1
2  34  62  alberma01   78    BAL     227   3   6    2010  0.269   49   5   0  41  38    0  4.519824       1983      Matt    Albers     225      73    680000   27           49     87                1
3  22  19  anderbr04  112    OAK     337   6   6    2010  0.257   75   7   0  41  35    0  2.804154       1988     Brett  Anderson     225      76    410000   22          -61    104                1
4  59  33  arroybr01  188    CIN     647  10  29    2010  0.234  121  17   0  95  93    0  3.880989       1977   Bronson    Arroyo     195      75  11625000   33           25    142                1
5  23  51   baezda01   55    PHI     143   4   6    2010  0.301   28   3   0  31  29    0  5.475524       1977     Danys      Baez     225      75   2500000   33          -77      5                1
6  13  47  bailean01   34    OAK     147   3   3    2010  0.199   42   1  25   8   8    0  1.469388       1984    Andrew    Bailey     240      75    435000   26         -124     75                1
7  43  29  bakersc02  186    MIN     511   9  23    2010  0.277  148  12   0  87  85    0  4.491194       1981     Scott     Baker     215      76   3000000   29          -73    268                1
8  17  57  balfogr01   43    TBA     166   1   3    2010  0.216   56   2   0  16  14    0  2.277108       1977     Grant   Balfour     200      74   2050000   33           34    155                1
9  39  58  batismi01   71    WAS     248   2   9    2010  0.234   55   1   2  36  34    0  3.701613       1971    Miguel   Batista     210      73   1000000   39            9     82                1

In [782]:
batters_2009 = bats2_final[bats2_final["yearID"] == prediction_year - 2]
batters_2009 = batters_2009.rename(columns = {'score':'old_score'})
batters_2009_rel = batters_2009[["playerID", "old_score"]]

batters_2010 = bats2_final[bats2_final["yearID"] == prediction_year - 1]
batters_2010 = pd.merge(left=batters_2010, right=batters_2009_rel, left_on='playerID', right_on='playerID')
batters_2010["delta_score"] = batters_2010.apply(lambda row: row['score'] - row['old_score'], axis=1)
batters_2010.drop(['score', 'old_score'], axis=1, inplace=True)

batters_2011 = bats2_final[bats2_final["yearID"] == prediction_year]
batters_2011 = batters_2011[["playerID", "score"]]

batters_test = pd.merge(left=batters_2010, right=batters_2011, left_on='playerID', right_on='playerID')

In [783]:
batters_test["constant_factor"] = 1
batters_test[:10]

    AB nameFirst  RBI    G  birthYear   playerID    H  BB  weight  height  HR  yearID   R   SO  2B  SB  CS  3B  nameLast position   salary  age  delta_score  score  constant_factor
0  573     Bobby   78  154       1974  abreubo01  146  87     220      72  20    2010  88  132  41  24  10   1     Abreu     G_rf  9000000   36          -35    318                1
1  588     Elvis   35  148       1988  andruel01  156  64     200      72   0    2010  88   96  15  32  15   3    Andrus     G_ss   418420   22            8    405                1
2  211      Rick   24   74       1979  ankieri01   49  26     210      73   6    2010  31   71  13   3   1   1    Ankiel     G_cf  2750000   31          -96    231                1
3  424      Mike   32  110       1981  avilemi01  129  20     205      70   8    2010  63   49  16  14   5   3    Aviles     G_2b   429000   29          235    201                1
4  534     Erick   29  138       1984  aybarer01  135  35     180      70   5    2010  69   81  18  22   8   4     Aybar     G_ss  2050000   26          -59    394                1
5  206      Jeff   21   79       1981  bakerje03   56  16     220      74   4    2010  29   50  13   1   0   2     Baker     G_3b   975000   29          -12    120                1
6   78      John    6   23       1981  bakerjo01   17   9     215      73   0    2010   7   18   3   0   0   1     Baker      G_c   415000   29         -227      3                1
7  313       Rod   47   99       1975  barajro01   75  13     250      74  17    2010  39   54  14   0   0   0   Barajas      G_c   500000   35          -62    207                1
8  387     Clint   50  133       1979  barmecl01   91  35     200      73   8    2010  43   66  21   3   2   0    Barmes     G_2b  3325000   31         -167    261                1
9  468     Jason   47  135       1979  bartlja01  119  45     190      72   4    2010  71   83  27  11   6   3  Bartlett     G_ss  4000000   31         -138    294                1

In [784]:
# Import the linear regression class
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn import svm
# Sklearn also has a helper that makes it easy to do cross validation
from sklearn.cross_validation import KFold
import numpy as np

# The columns we'll use to predict the target
pitcher_predictors = ["BB", "H", "IPouts", 
                      "L", "HR", "BAOpp", 
                      "SO", 'W', "SV", 
                      "R", "ER", "SHO", 
                      "weight", "height", "salary", 
                      "age", "constant_factor"]

# removed G and ERA and delta_score

# Initialize our algorithm class
# alg = LinearRegression()
# alg = svm.SVR()
alg = LogisticRegression()

kf = KFold(pitchers_test.shape[0], n_folds=3, random_state=1)
pitcher_predictions = []
for train, test in kf:
    # The predictors we're using the train the algorithm.  Note how we only take the rows in the train folds.
    train_predictors = (pitchers_test[pitcher_predictors].iloc[train,:])
    # The target we're using to train the algorithm.
    train_target = pitchers_test["score"].iloc[train]
    # Training the algorithm using the predictors and target.
    alg.fit(train_predictors, train_target)
    # We can now make predictions on the test fold
    test_predictions = alg.predict(pitchers_test[pitcher_predictors].iloc[test,:])
    pitcher_predictions.append(test_predictions)
                       
pitcher_predictions = np.concatenate(pitcher_predictions, axis=0)

In [785]:
prediction_diff = [abs(pitcher_predictions[i] - pitchers_test["score"][i]) for i in range(len(pitcher_predictions))]
sum(prediction_diff) / len(prediction_diff)

117.04950495049505

In [786]:
# BASELINE STUFF
# alg.coef_

In [787]:
pitcher_predictions[:10]

array([ 130.,  193.,  130.,  106.,  295.,  193.,  130.,  266.,  193.,  130.])

In [788]:
# alg_bats = LinearRegression()
# alg_bats = svm.SVR()
alg_bats = LogisticRegression()

batter_predictors = ["RBI", "H", "BB", 
                     "weight", "height", "HR", 
                     "R", "SO", 
                     "SB", "3B", 
                     "salary", "age", "constant_factor"]

# took out CS and 2B and delta_score

kf2 = KFold(batters_test.shape[0], n_folds=3, random_state=1)
batter_predictions = []
for train, test in kf2:
    train_predictors = (batters_test[batter_predictors].iloc[train,:])
    train_target = batters_test["score"].iloc[train]
    alg_bats.fit(train_predictors, train_target)
    test_predictions = alg_bats.predict(batters_test[batter_predictors].iloc[test,:])
    batter_predictions.append(test_predictions)
    
batter_predictions = np.concatenate(batter_predictions, axis=0)

In [789]:
prediction_diff = [abs(batter_predictions[i] - batters_test["score"][i]) for i in range(len(batter_predictions))]
sum(prediction_diff) / len(prediction_diff)

125.72

In [790]:
# alg_bats.coef_

In [791]:
pitchers_test["predicted_score"] = pitcher_predictions
pitchers_test[:10]

   BB   G   playerID    H teamID  IPouts   L  HR  yearID  BAOpp   SO   W  SV   R  ER  SHO       ERA  birthYear nameFirst  nameLast  weight  height    salary  age  delta_score  score  constant_factor  predicted_score
0  23  70  adamsmi03   48    SDN     200   1   2    2010  0.196   73   4   0  14  13    0  1.755000       1978      Mike     Adams     210      77   1000000   32           58    226                1              130
1  24  53  affelje01   56    SFN     150   3   4    2010  0.290   44   4   4  25  23    0  4.140000       1979    Jeremy   Affeldt     225      76   4000000   31          -78    129                1              193
2  34  62  alberma01   78    BAL     227   3   6    2010  0.269   49   5   0  41  38    0  4.519824       1983      Matt    Albers     225      73    680000   27           49     87                1              130
3  22  19  anderbr04  112    OAK     337   6   6    2010  0.257   75   7   0  41  35    0  2.804154       1988     Brett  Anderson     225      76    410000   22          -61    104                1              106
4  59  33  arroybr01  188    CIN     647  10  29    2010  0.234  121  17   0  95  93    0  3.880989       1977   Bronson    Arroyo     195      75  11625000   33           25    142                1              295
5  23  51   baezda01   55    PHI     143   4   6    2010  0.301   28   3   0  31  29    0  5.475524       1977     Danys      Baez     225      75   2500000   33          -77      5                1              193
6  13  47  bailean01   34    OAK     147   3   3    2010  0.199   42   1  25   8   8    0  1.469388       1984    Andrew    Bailey     240      75    435000   26         -124     75                1              130
7  43  29  bakersc02  186    MIN     511   9  23    2010  0.277  148  12   0  87  85    0  4.491194       1981     Scott     Baker     215      76   3000000   29          -73    268                1              266
8  17  57  balfogr01   43    TBA     166   1   3    2010  0.216   56   2   0  16  14    0  2.277108       1977     Grant   Balfour     200      74   2050000   33           34    155                1              193
9  39  58  batismi01   71    WAS     248   2   9    2010  0.234   55   1   2  36  34    0  3.701613       1971    Miguel   Batista     210      73   1000000   39            9     82                1              130

In [792]:
batters_test["predicted_score"] = batter_predictions
batters_test[:10]

    AB nameFirst  RBI    G  birthYear   playerID    H  BB  weight  height  HR  yearID   R   SO  2B  SB  CS  3B  nameLast position   salary  age  delta_score  score  constant_factor  predicted_score
0  573     Bobby   78  154       1974  abreubo01  146  87     220      72  20    2010  88  132  41  24  10   1     Abreu     G_rf  9000000   36          -35    318                1              305
1  588     Elvis   35  148       1988  andruel01  156  64     200      72   0    2010  88   96  15  32  15   3    Andrus     G_ss   418420   22            8    405                1              107
2  211      Rick   24   74       1979  ankieri01   49  26     210      73   6    2010  31   71  13   3   1   1    Ankiel     G_cf  2750000   31          -96    231                1              255
3  424      Mike   32  110       1981  avilemi01  129  20     205      70   8    2010  63   49  16  14   5   3    Aviles     G_2b   429000   29          235    201                1              107
4  534     Erick   29  138       1984  aybarer01  135  35     180      70   5    2010  69   81  18  22   8   4     Aybar     G_ss  2050000   26          -59    394                1              443
5  206      Jeff   21   79       1981  bakerje03   56  16     220      74   4    2010  29   50  13   1   0   2     Baker     G_3b   975000   29          -12    120                1              107
6   78      John    6   23       1981  bakerjo01   17   9     215      73   0    2010   7   18   3   0   0   1     Baker      G_c   415000   29         -227      3                1              107
7  313       Rod   47   99       1975  barajro01   75  13     250      74  17    2010  39   54  14   0   0   0   Barajas      G_c   500000   35          -62    207                1              107
8  387     Clint   50  133       1979  barmecl01   91  35     200      73   8    2010  43   66  21   3   2   0    Barmes     G_2b  3325000   31         -167    261                1              443
9  468     Jason   47  135       1979  bartlja01  119  45     190      72   4    2010  71   83  27  11   6   3  Bartlett     G_ss  4000000   31         -138    294                1              443

In [793]:
def batter_to_tuple(row):
    return (row['playerID'], row['salary'], row['predicted_score'], row['position'])
def pitcher_team_to_tuple(row):
    return (row['teamID'], row['salary'], row['predicted_score'], 'pstaff')

In [794]:
# BASELINE TESTS
pitcher_baseline = pitchers_complete[pitchers_complete['yearID'] == 2014].groupby('teamID')[['salary', 'score']].sum()
pitcher_baseline = pitcher_baseline[pitcher_baseline['salary'] < 15000000].sort('salary', ascending=False)
pitcher_baseline

          salary  score
teamID
MIA     11453900   1916
CLE      7227933   2155

In [795]:
batter_baseline = bats2_final[(bats2_final['yearID'] == 2014) & (bats2_final['salary'] < 3900000)].sort('salary', ascending=False)
batter_baseline[batter_baseline['position'] == 'G_ss'][:5]

                 AB nameFirst  RBI    G  birthYear   playerID    H  BB  weight  height  HR  yearID   R  SO  2B  SB  CS  3B     nameLast  score position   salary  age
pennicl01_2014  177     Cliff   10   68       1984  pennicl01   45  20     195      70   2    2014  21  36   5   6   1   3   Pennington     99     G_ss  3250000   30
escobal02_2014  579   Alcides   50  162       1986  escobal02  165  23     185      73   3    2014  74  83  34  31   6   5      Escobar    373     G_ss  3000000   28
bloomwi01_2014  133    Willie   14   47       1977  bloomwi01   37   4     190      71   1    2014  15  32   6   1   1   0   Bloomquist     76     G_ss  2800000   37
cabreev01_2014  357    Everth   20   90       1986  cabreev01   83  20     190      70   3    2014  36  86  13  18   8   1      Cabrera    181     G_ss  2450000   28
hechaad01_2014  536    Adeiny   34  146       1989  hechaad01  148  26     185      71   1    2014  53  86  20   7   5  10  Hechavarria    285     G_ss  2200000   25

In [796]:
batters_2010[batters_2010['playerID'] == 'gonzaad01']

      AB nameFirst  RBI    G  birthYear   playerID    H  BB  weight  height  HR  yearID   R   SO  2B  SB  CS  3B  nameLast position   salary  age  delta_score
103  591    Adrian  101  160       1982  gonzaad01  176  93     225      74  31    2010  87  114  33   0   0   0  Gonzalez     G_1b  4875000   28           -4

In [797]:
batters_data = batters_test.apply(lambda row: batter_to_tuple(row), axis=1)

In [798]:
# pitching_teams = np.unique(pitchers_2011["teamID"])
pitchers_2011_teams = pitchers_2011[["playerID", "teamID"]]
pitchers_test = pitchers_test.drop('teamID', axis=1)

# update teams for next year
pitchers_test = pd.merge(left=pitchers_test, right=pitchers_2011_teams, left_on='playerID', right_on='playerID')

In [799]:
team_group = pitchers_test.groupby("teamID")

In [800]:
team_group = team_group.aggregate(np.sum)

In [801]:
# re-add index as column
team_group['teamID'] = team_group.index

In [802]:
team_group[:10]

         BB    G     H  IPouts   L   HR  yearID   BAOpp   SO   W  SV    R   ER  SHO        ERA  birthYear  weight  height    salary  age  delta_score  score  constant_factor  predicted_score teamID
teamID
ARI     156  192   558    1465  45   63    8040  1.0765  330  29   9  290  255    1  17.520806       7919     905     303  13150000  121          -73    466                4              115    ARI
ATL     273  345   708    2220  35   73   14070  1.8110  526  54   1  322  306    0  27.978765      13850    1495     519  35570000  220           24   1203                7              481    ATL
BAL      85  121   277     884  21   31    6030  0.7760  199  14  38  128  122    0  10.752629       5940     690     229   5440000   90           94    446                3              387    BAL
BOS     427  448  1100    3378  60  109   20100  2.5110  971  68  68  598  551    0  43.205141      19786    2305     752  69413333  314         -208   1334               10             2165    BOS
CHA     258  245   826    2539  48   70   12060  1.4540  648  51   9  390  369    2  22.421478      11885    1330     447  39450000  175         -120   1189                6             1050    CHA
CHN     337  335   678    2321  43   73   14070  1.6280  772  54  48  348  310    1  26.785715      13860    1580     528  52000000  210          100   1217                7             1339    CHN
CIN     219  233   560    1840  29   66   10050  1.2160  470  43  42  267  258    1  19.068845       9903    1110     370  25675000  147           59    788                5             1216    CIN
CLE     221  254   565    1680  31   45   10050  1.2900  395  31   0  275  250    2  19.337324       9908    1105     377   8862000  142          441    759                5              701    CLE
COL     262  285   603    1988  37   60   14070  1.7400  593  44  47  306  290    2  30.063735      13868    1480     519  29481000  202         -177    750                7             1015    COL
DET     269  294   778    2486  50   69   14070  1.7550  683  55  30  373  342    0  25.371597      13880    1565     531  25489552  190         -103   1484                7             1394    DET

In [803]:
pitchers_data = team_group.apply(lambda row: pitcher_team_to_tuple(row), axis=1)

In [804]:
pitchers_data

teamID
ARI     (ARI, 13150000.0, 115.0, pstaff)
ATL     (ATL, 35570000.0, 481.0, pstaff)
BAL      (BAL, 5440000.0, 387.0, pstaff)
BOS    (BOS, 69413333.0, 2165.0, pstaff)
CHA    (CHA, 39450000.0, 1050.0, pstaff)
CHN    (CHN, 52000000.0, 1339.0, pstaff)
CIN    (CIN, 25675000.0, 1216.0, pstaff)
CLE      (CLE, 8862000.0, 701.0, pstaff)
COL    (COL, 29481000.0, 1015.0, pstaff)
DET    (DET, 25489552.0, 1394.0, pstaff)
FLO    (FLO, 23139800.0, 1537.0, pstaff)
HOU     (HOU, 12820000.0, 820.0, pstaff)
KCA      (KCA, 5750000.0, 632.0, pstaff)
LAA    (LAA, 44848000.0, 1668.0, pstaff)
LAN    (LAN, 51748333.0, 2300.0, pstaff)
MIL    (MIL, 24345276.0, 1518.0, pstaff)
MIN    (MIN, 16737500.0, 1146.0, pstaff)
NYA     (NYA, 63523689.0, 565.0, pstaff)
NYN     (NYN, 22316666.0, 856.0, pstaff)
OAK    (OAK, 22665000.0, 2099.0, pstaff)
PHI    (PHI, 74483333.0, 2698.0, pstaff)
PIT      (PIT, 9914500.0, 525.0, pstaff)
SDN     (SDN, 21525200.0, 864.0, pstaff)
SEA      (SEA, 9675000.0, 815.0, pstaff)
SFN    (SFN, 47779833.0, 1973.0, pstaff)
SLN    (SLN, 18673500.0, 1014.0, pstaff)
TBA     (TBA, 11698900.0, 615.0, pstaff)
TEX    (TEX, 28722790.0, 1045.0, pstaff)
TOR    (TOR, 20097800.0, 1519.0, pstaff)
WAS     (WAS, 10758002.0, 577.0, pstaff)
dtype: object

In [805]:
masterlist = np.array(pitchers_data).tolist() + np.array(batters_data).tolist()

In [806]:
import copy
# masterlist = [('ARI', 14366500.0, 910.9371240368031, 'pstaff'), ('ATL', 36412500.0, 1388.9218978966571, 'pstaff'), ('BAL', 8625000.0, 776.4856986396633, 'pstaff'), ('BOS', 70271833.0, 2125.840506229697, 'pstaff'), ('CHA', 41200000.0, 1222.4210172676098, 'pstaff'), ('CHN', 55827000.0, 1878.720510980691, 'pstaff'), ('CIN', 26493000.0, 945.6670579918168, 'pstaff'), ('CLE', 10093800.0, 792.3801894562247, 'pstaff'), ('COL', 32632000.0, 1567.3965013009336, 'pstaff'), ('DET', 26489552.0, 1163.53546790145, 'pstaff'), ('FLO', 24677300.0, 1841.0638631064674, 'pstaff'), ('HOU', 13221000.0, 1044.2697135189546, 'pstaff'), ('KCA', 14075000.0, 769.3449678719517, 'pstaff'), ('LAA', 45848000.0, 1821.8821538346342, 'pstaff'), ('LAN', 52150333.0, 2067.7618133416613, 'pstaff'), ('MIL', 25601776.0, 1846.9702176509727, 'pstaff'), ('MIN', 17568000.0, 1538.440251328942, 'pstaff'), ('NYA', 66247339.0, 1356.5802238733766, 'pstaff'), ('NYN', 23773666.0, 785.8256831092024, 'pstaff'), ('OAK', 23070000.0, 1520.804958643793, 'pstaff'), ('PHI', 75768333.0, 2697.507315892099, 'pstaff'), ('PIT', 10328000.0, 771.2522274030191, 'pstaff'), ('SDN', 23810800.0, 1373.0594231685877, 'pstaff'), ('SEA', 11815900.0, 1037.120063794589, 'pstaff'), ('SFN', 48180333.0, 1913.2363061153706, 'pstaff'), ('SLN', 30475500.0, 1244.122420901785, 'pstaff'), ('TBA', 14339771.0, 1328.8420282479756, 'pstaff'), ('TEX', 31284640.0, 1860.1385589263705, 'pstaff'), ('TOR', 20911800.0, 1675.408736287713, 'pstaff'), ('WAS', 12659002.0, 788.0272924525746, 'pstaff'), ('abreubo01', 9000000.0, 371.99653631403953, 'G_rf'), ('andruel01', 418420.0, 309.61369249331347, 'G_ss'), ('ankieri01', 2750000.0, 137.61217993905967, 'G_cf'), ('avilaal01', 404900.0, 144.25527881477947, 'G_c'), ('avilemi01', 429000.0, 247.29799534887465, 'G_2b'), ('aybarer01', 2050000.0, 269.07743537993736, 'G_ss'), ('bakerje03', 975000.0, 129.22593337132056, 'G_3b'), ('bakerjo01', 415000.0, 71.99373161071308, 'G_c'), ('barajro01', 500000.0, 186.0381340219757, 'G_c'), ('barmecl01', 3325000.0, 197.51565425729353, 'G_2b'), ('bartlja01', 4000000.0, 256.6505999472788, 'G_ss'), ('bartoda02', 410000.0, 342.9887638286865, 'G_1b'), ('bautijo02', 2400000.0, 591.6649829082061, 'G_rf'), ('bayja01', 8625000.0, 221.77153310339426, 'G_lf'), ('beckhgo01', 445000.0, 240.3832762690299, 'G_2b'), ('beltrad01', 9000000.0, 377.49250289164377, 'G_3b'), ('beltrca01', 19401569.0, 168.2886918229422, 'G_cf'), ('berkmla01', 14500000.0, 257.1149887053001, 'G_1b'), ('betanyu01', 3300000.0, 276.72355633858535, 'G_ss'), ('blakeca01', 6250000.0, 247.5024836477074, 'G_3b'), ('blancan01', 510000.0, 102.85240788320331, 'G_2b'), ('blanche01', 750000.0, 71.65415520657466, 'G_c'), ('blankky01', 410600.0, 74.72328727057138, 'G_lf'), ('bloomwi01', 1700000.0, 152.10250066531515, 'G_rf'), ('blumge01', 1500000.0, 116.47677899623062, 'G_ss'), ('bonifem01', 420000.0, 126.93416158509774, 'G_cf'), ('borboju01', 600000.0, 240.61120123528823, 'G_cf'), ('bournmi01', 2400000.0, 332.70528584777946, 'G_cf'), ('bowkejo01', 410000.0, 115.0454606928333, 'G_rf'), ('bradlmi01', 11000000.0, 147.49642211898598, 'G_lf'), ('brantmi02', 400800.0, 184.87755924707056, 'G_cf'), ('branyru01', 1500000.0, 238.33745330626354, 'G_dh'), ('braunry02', 1287500.0, 416.25632729497295, 'G_lf'), ('brignre01', 403700.0, 174.53119460583991, 'G_2b'), ('bruceja01', 440000.0, 360.91824185680923, 'G_rf'), ('buckjo01', 2000000.0, 210.33710162948563, 'G_c'), ('bucktr01', 410000.0, 58.50672497834263, 'G_lf'), ('burrepa01', 9000000.0, 252.3518983923971, 'G_lf'), ('buterdr01', 400000.0, 93.80948174620352, 'G_c'), ('butlebi03', 470000.0, 300.3310764779268, 'G_1b'), ('byrdma01', 3000000.0, 255.94481848983762, 'G_cf'), ('cabreas01', 444600.0, 165.82951285097104, 'G_ss'), ('cabreme01', 3100000.0, 201.59530859986896, 'G_lf'), ('cabremi01', 20000000.0, 507.5318385028463, 'G_1b'), ('cabreor01', 2020000.0, 218.13660815131303, 'G_ss'), ('callaal01', 460000.0, 248.78249220282768, 'G_3b'), ('camermi01', 7750000.0, 113.53020314516047, 'G_cf'), ('canoro01', 9000000.0, 450.6508879659392, 'G_2b'), ('cantujo01', 6000000.0, 209.22511573860868, 'G_3b'), ('carroja01', 1535677.0, 196.05006391032796, 'G_ss'), ('casilal01', 437500.0, 158.36946155232098, 'G_ss'), ('castrra01', 800000.0, 117.4543041530917, 'G_c'), ('cedenro02', 1125000.0, 190.6940379097983, 'G_ss'), ('cervefr01', 410800.0, 153.9118146486402, 'G_c'), ('chaveer01', 12500000.0, 69.75650593112236, 'G_dh'), ('choosh01', 461100.0, 392.2166392773321, 'G_rf'), ('coghlch01', 475000.0, 210.96657872144627, 'G_lf'), ('colvity01', 401000.0, 286.49871575445275, 'G_rf'), ('conrabr01', 400000.0, 160.80150308663679, 'G_3b'), ('coraal01', 1850000.0, 118.8116031055539, 'G_2b'), ('counscr01', 2100000.0, 125.96648471517483, 'G_ss'), ('craigal01', 400000.0, 99.81911940667848, 'G_rf'), ('crawfca02', 10000000.0, 495.17408187427486, 'G_lf'), ('crispco01', 5000000.0, 260.41713047930045, 'G_cf'), ('cruzne02', 440000.0, 322.3482066610087, 'G_rf'), ('cuddymi01', 9416666.0, 354.8977946358648, 'G_1b'), ('damonjo01', 8000000.0, 309.3334201295994, 'G_dh'), ('davisra01', 1350000.0, 288.005300590826, 'G_cf'), ('dejesda01', 4700000.0, 216.95766747010018, 'G_rf'), ('derosma01', 6000000.0, 81.75937420297119, 'G_lf'), ('desmoia01', 400000.0, 257.5449691870584, 'G_ss'), ('dewitbl01', 410000.0, 220.70164797843003, 'G_2b'), ('diazma02', 2550000.0, 147.15860618334466, 'G_lf'), ('dobbsgr01', 1350000.0, 103.67752011069672, 'G_3b'), ('doumiry01', 3650000.0, 200.21703892440016, 'G_c'), ('drewjd01', 14000000.0, 321.71732887486337, 'G_rf'), ('drewst01', 3400000.0, 390.51645968094533, 'G_ss'), ('dunnad01', 12000000.0, 360.6190306146656, 'G_1b'), ('ellisma01', 5500000.0, 214.49498696612298, 'G_2b'), ('ellsbja01', 496500.0, 90.03184031835642, 'G_cf'), ('encared01', 5175000.0, 237.723291300181, 'G_3b'), ('escobal02', 405500.0, 280.77694203699036, 'G_ss'), ('escobyu01', 435000.0, 223.38013918314428, 'G_ss'), ('ethiean01', 5750000.0, 338.0978122150177, 'G_rf'), ('everead01', 1550000.0, 79.54015336023205, 'G_ss'), ('fieldpr01', 11000000.0, 376.7308201991674, 'G_1b'), ('figgich01', 8500000.0, 278.9522965183272, 'G_2b'), ('fontemi01', 1000000.0, 150.17993015383956, 'G_2b'), ('fowlede01', 406000.0, 344.05193295189133, 'G_cf'), ('foxja02', 405000.0, 111.37698240573701, 'G_dh'), ('francbe01', 470000.0, 146.1043513991554, 'G_lf'), ('francje02', 5000000.0, 250.45671794857302, 'G_rf'), ('francju02', 400000.0, 48.2847192980563, 'G_3b'), ('freesda01', 400000.0, 131.68903568730497, 'G_3b'), ('fukudko01', 14000000.0, 272.99915519896786, 'G_rf'), ('furcara01', 9500000.0, 291.59895431879795, 'G_ss'), ('gardnbr01', 452500.0, 379.9115757902731, 'G_lf'), ('getzch01', 414500.0, 136.07596527368207, 'G_2b'), ('giambja01', 1750000.0, 125.23382442959337, 'G_1b'), ('gloadro01', 1000000.0, 133.79757370256814, 'G_1b'), ('gomesjo01', 800000.0, 293.24047015946167, 'G_lf'), ('gomezca01', 1100000.0, 171.52311789405488, 'G_cf'), ('gonzaad01', 4875000.0, 409.3228403573071, 'G_1b'), ('gonzaal02', 2750000.0, 314.83066754880986, 'G_ss'), ('gonzaal03', 415500.0, 87.30625813742418, 'G_2b'), ('gonzaca01', 406000.0, 509.84295775032024, 'G_lf'), ('gordoal01', 1150000.0, 158.29524348311512, 'G_lf'), ('grandcu01', 5500000.0, 368.08702548218173, 'G_cf'), ('guerrvl01', 5500000.0, 379.62575902181464, 'G_dh'), ('guillca01', 13000000.0, 161.30797882520505, 'G_2b'), ('gutiefr01', 2312500.0, 298.169915932641, 'G_cf'), ('gwynnto02', 419800.0, 208.3797536456247, 'G_cf'), ('hafnetr01', 11500000.0, 235.19776450907722, 'G_dh'), ('hairsje02', 2125000.0, 231.26754709045986, 'G_ss'), ('hairssc01', 2450000.0, 196.14784344960748, 'G_lf'), ('hallbi03', 8525000.0, 221.26108791436872, 'G_lf'), ('hamiljo03', 3250000.0, 441.04282104266287, 'G_lf'), ('hanigry01', 415000.0, 193.17932400211527, 'G_c'), ('hardyjj01', 5100000.0, 230.07846225961703, 'G_ss'), ('harriwi01', 1500000.0, 155.4040351327214, 'G_lf'), ('hartco01', 4800000.0, 367.5357576856989, 'G_rf'), ('hawpebr01', 7500000.0, 205.9565683922828, 'G_rf'), ('headlch01', 427700.0, 294.8058623090663, 'G_3b'), ('helmswe01', 950000.0, 129.87987471793457, 'G_3b'), ('heltoto01', 17775000.0, 237.8445566668218, 'G_1b'), ('hernara02', 3868376.0, 184.4581319436004, 'G_c'), ('heywaja01', 400000.0, 356.29597437268893, 'G_rf'), ('hillaa01', 4000000.0, 316.10485043530474, 'G_2b'), ('hillko01', 700000.0, 116.49439239050764, 'G_c'), ('hinsker01', 1000000.0, 195.87788393962558, 'G_lf'), ('hollima01', 16333327.0, 429.13173434031165, 'G_lf'), ('howarry01', 19000000.0, 323.9878838825743, 'G_1b'), ('hudsoor01', 5000000.0, 315.8522085782617, 'G_2b'), ('huffau01', 3000000.0, 484.6778611849332, 'G_1b'), ('hundlni01', 415700.0, 163.97249601247825, 'G_c'), ('hunteto01', 18500000.0, 304.47683809227493, 'G_cf'), ('iannech01', 1750000.0, 143.7012771611516, 'G_c'), ('ibanera01', 12166666.0, 324.9673953482142, 'G_lf'), ('infanom01', 2225000.0, 254.77618432408775, 'G_2b'), ('ingebr01', 6600000.0, 213.23327390866734, 'G_3b'), ('izturce01', 2600000.0, 189.54226332366653, 'G_ss'), ('izturma01', 2766666.0, 185.49207704298323, 'G_3b'), ('jacksau01', 400000.0, 331.86115730685, 'G_cf'), ('jacksco01', 3100000.0, 191.1922072429648, 'G_lf'), ('janispa01', 412500.0, 172.4743983401978, 'G_ss'), ('jaramja01', 416500.0, 87.67162732102543, 'G_c'), ('jeterde01', 22600000.0, 419.70140405681803, 'G_ss'), ('johnsch05', 400000.0, 195.31456823143702, 'G_3b'), ('johnske05', 2350000.0, 390.11890492649314, 'G_2b'), ('johnsre02', 800000.0, 116.73589588016523, 'G_lf'), ('johnsro07', 412500.0, 138.1774290953636, 'G_c'), ('jonesad01', 465000.0, 265.8974997513557, 'G_cf'), ('jonesan01', 500000.0, 244.2505460717768, 'G_rf'), ('jonesch06', 14000000.0, 307.9926949091036, 'G_3b'), ('jonesga02', 425000.0, 310.4257154408736, 'G_1b'), ('joycema01', 406000.0, 212.14283896398473, 'G_rf'), ('kearnau01', 750000.0, 219.3753879417324, 'G_lf'), ('kellydo01', 405000.0, 211.01677620029454, 'G_lf'), ('kempma01', 4000000.0, 285.9783735178715, 'G_cf'), ('kendrho01', 1750000.0, 273.3355452343861, 'G_2b'), ('kennead01', 1250000.0, 242.73812029843276, 'G_2b'), ('keppije01', 1150000.0, 344.21711989600004, 'G_2b'), ('kinslia01', 4200000.0, 330.652735064115, 'G_2b'), ('konerpa01', 12000000.0, 436.8713060455247, 'G_1b'), ('kotsama01', 1500000.0, 185.8453438465574, 'G_dh'), ('kottage01', 408500.0, 192.4474642738038, 'G_c'), ('kouzmke01', 3100000.0, 262.54231977784616, 'G_3b'), ('kubelja01', 4100000.0, 284.11094220540025, 'G_rf'), ('lairdge01', 3950000.0, 126.95804763179046, 'G_c'), ('langery01', 525000.0, 128.42827052119577, 'G_lf'), ('laporma01', 402700.0, 226.6009412535809, 'G_1b'), ('larocad01', 4500000.0, 300.5921612222318, 'G_1b'), ('larocan01', 451000.0, 152.01899383659799, 'G_3b'), ('leeca01', 19000000.0, 296.4945932871304, 'G_lf'), ('leede02', 13250000.0, 324.65760983167735, 'G_1b'), ('lewisfr02', 455000.0, 278.2589190547958, 'G_lf'), ('lindad01', 550000.0, 273.451556530787, 'G_dh'), ('loneyja01', 3100000.0, 294.37427547566, 'G_1b'), ('longoev01', 950000.0, 421.4724970722154, 'G_3b'), ('lopezjo01', 3000000.0, 241.70371424838396, 'G_3b'), ('lowrije01', 434000.0, 218.8978096867915, 'G_2b'), ('ludwiry01', 5450000.0, 250.24373349434478, 'G_rf'), ('markani01', 7100000.0, 392.13864481471416, 'G_rf'), ('marsolo01', 401200.0, 180.79829209138114, 'G_c'), ('martiru01', 5050000.0, 204.870042308729, 'G_c'), ('martivi01', 7700000.0, 354.71801436160007, 'G_c'), ('mathije01', 1300000.0, 109.51192986385945, 'G_c'), ('matsuhi01', 6000000.0, 308.87996704802396, 'G_dh'), ('mauerjo01', 12500000.0, 389.24565371560203, 'G_c'), ('maybica01', 405000.0, 201.48293374415414, 'G_cf'), ('mccanbr01', 5700000.0, 331.1522826889756, 'G_c'), ('mccoymi01', 400700.0, 108.83316758485171, 'G_2b'), ('mccutan01', 422500.0, 419.0606396509639, 'G_cf'), ('mcdonjo03', 1500000.0, 155.76734574042302, 'G_2b'), ('mcgehca01', 427500.0, 337.9428495032749, 'G_3b'), ('mclouna01', 5000000.0, 175.67324309598092, 'G_cf'), ('michaja01', 800000.0, 163.78021855806747, 'G_lf'), ('milesaa01', 2700000.0, 109.51226992084918, 'G_2b'), ('millela02', 452000.0, 181.38896424858245, 'G_lf'), ('molinjo01', 800000.0, 91.71106686806405, 'G_c'), ('molinya01', 4312500.0, 199.21495788856646, 'G_c'), ('montemi01', 2000000.0, 178.28441333107662, 'G_c'), ('mooread01', 401000.0, 94.08134706285114, 'G_c'), ('moraljo02', 412500.0, 89.54809470438511, 'G_c'), ('morame01', 1275000.0, 203.05357331480644, 'G_3b'), ('morgany01', 426500.0, 208.85976352133372, 'G_cf'), ('morneju01', 15000000.0, 309.07772594555723, 'G_1b'), ('morsemi01', 410000.0, 202.43159589600901, 'G_rf'), ('murphda07', 427670.0, 312.49226043126276, 'G_lf'), ('nadyxa01', 3300000.0, 151.1581908911882, 'G_1b'), ('napolmi01', 3600000.0, 250.5939941981693, 'G_1b'), ('navardi01', 2100000.0, 92.06922431482883, 'G_c'), ('nievewi01', 700000.0, 119.65512768977868, 'G_c'), ('nixja01', 420000.0, 166.07746161846916, 'G_3b'), ('olivomi01', 2000000.0, 182.07411505454132, 'G_c'), ('ordonma01', 17825976.0, 274.882312482131, 'G_rf'), ('ortizda01', 13000000.0, 360.2123621681095, 'G_dh'), ('overbly01', 7950000.0, 278.6408713739923, 'G_1b'), ('paganan01', 1500000.0, 368.96731156061287, 'G_cf'), ('parrage01', 405500.0, 151.45821652407375, 'G_lf'), ('patteer01', 405000.0, 152.88905255720223, 'G_lf'), ('pedrodu01', 3750000.0, 269.7247793016178, 'G_2b'), ('penabr01', 428000.0, 92.50940050361754, 'G_c'), ('penaca01', 10125000.0, 270.18286306310625, 'G_1b'), ('pencehu01', 3500000.0, 440.347057838243, 'G_rf'), ('pennicl01', 405000.0, 270.8590886429096, 'G_ss'), ('peraljh01', 4850000.0, 250.45504427116225, 'G_3b'), ('phillbr01', 6937500.0, 469.80867514401416, 'G_2b'), ('piefe01', 420000.0, 203.09498253236632, 'G_lf'), ('pierrju01', 7000000.0, 480.94303905501226, 'G_lf'), ('pierzaj01', 6750000.0, 258.0649789720932, 'G_c'), ('polanpl01', 5166666.0, 327.88061275889777, 'G_3b'), ('posadjo01', 13100000.0, 253.9909263894321, 'G_c'), ('pradoma01', 440000.0, 393.26903387062424, 'G_2b'), ('pujolal01', 14595953.0, 618.3020238504466, 'G_1b'), ('puntoni01', 4000000.0, 138.1311194815289, 'G_3b'), ('quentca01', 3200000.0, 338.6181721300017, 'G_rf'), ('quinthu01', 750000.0, 97.607251015581, 'G_c'), ('raburry01', 438000.0, 221.52289008028538, 'G_lf'), ('ramiral03', 1225000.0, 394.0558898215156, 'G_ss'), ('ramirar01', 16750000.0, 309.0035615820236, 'G_3b'), ('ramirha01', 7000000.0, 453.5144949422221, 'G_ss'), ('ramirma02', 18695006.0, 216.11511749525494, 'G_lf'), ('rasmuco01', 418000.0, 338.69145641828476, 'G_cf'), ('renteed01', 10000000.0, 173.4954765674374, 'G_ss'), ('reyesjo01', 9375000.0, 423.9654712811383, 'G_ss'), ('reynoma01', 833333.0, 269.00607652312357, 'G_3b'), ('riosal01', 10200000.0, 446.7909287881416, 'G_cf'), ('riverju01', 4250000.0, 284.1557755746044, 'G_lf'), ('roberbr01', 10000000.0, 187.40997046903902, 'G_2b'), ('rodrial01', 33000000.0, 389.2016205912129, 'G_3b'), ('rodriiv01', 3000000.0, 157.3842168964728, 'G_c'), ('rodrise01', 405500.0, 190.90604332170915, 'G_2b'), ('rolensc01', 7666666.0, 318.97529645745686, 'G_3b'), ('rolliji01', 8500000.0, 268.35041973247587, 'G_ss'), ('rosalad01', 410000.0, 176.1891738049764, 'G_2b'), ('rossco01', 4450000.0, 257.93963857402605, 'G_cf'), ('rossda01', 1600000.0, 114.66943871777968, 'G_c'), ('rowanaa01', 13600000.0, 220.62233202466172, 'G_cf'), ('ruizca01', 1900000.0, 224.80263378093576, 'G_c'), ('ryanbr01', 425000.0, 222.3176754107459, 'G_ss'), ('saltaja01', 418580.0, 92.20685687906726, 'G_c'), ('sanchfr01', 6000000.0, 247.77210320486785, 'G_2b'), ('sanchga01', 401000.0, 304.5043868261765, 'G_1b'), ('sandopa01', 465000.0, 282.2516308639428, 'G_3b'), ('santira01', 1250000.0, 199.68820137972403, 'G_ss'), ('schiena01', 416500.0, 193.54150978019214, 'G_rf'), ('schnebr01', 1125000.0, 145.94761723338073, 'G_c'), ('schumsk01', 2000000.0, 277.2355388219404, 'G_2b'), ('scottlu01', 4050000.0, 343.1239413520237, 'G_dh'), ('scutama01', 5500000.0, 374.5381213349094, 'G_ss'), ('shoppke01', 2250000.0, 85.1031568767749, 'G_c'), ('sizemgr01', 5766666.0, 114.09554147328913, 'G_cf'), ('smithse01', 407000.0, 284.7299404876276, 'G_lf'), ('snidetr01', 405800.0, 194.59040060594577, 'G_lf'), ('snydech02', 5250000.0, 194.12667161216137, 'G_c'), ('soriaal01', 19000000.0, 288.54347565136635, 'G_lf'), ('sotoge01', 575000.0, 247.86312477961752, 'G_c'), ('spande01', 750000.0, 362.4869991480717, 'G_cf'), ('spilbry01', 1300000.0, 220.13738223179058, 'G_rf'), ('stairma01', 700000.0, 116.3111161867439, 'G_lf'), ('stewaia01', 408000.0, 252.09026873544207, 'G_3b'), ('stubbdr01', 400000.0, 336.48719839965145, 'G_cf'), ('suzukic01', 18000000.0, 418.188067615887, 'G_rf'), ('suzukku01', 420000.0, 283.0138874144269, 'G_c'), ('sweenry01', 420000.0, 188.02091814838502, 'G_rf'), ('swishni01', 6850000.0, 378.723348837584, 'G_rf'), ('teahema01', 3750000.0, 169.46988099722643, 'G_3b'), ('teixema01', 20625000.0, 463.6036272523746, 'G_1b'), ('tejadmi01', 6000000.0, 331.6633715168732, 'G_3b'), ('thamema01', 900000.0, 173.69909952411996, 'G_dh'), ('theriry01', 2600000.0, 342.90715646403817, 'G_2b'), ('thomeji01', 1500000.0, 295.14216685196044, 'G_dh'), ('torrean02', 426000.0, 309.25366642651403, 'G_cf'), ('torreyo01', 750000.0, 192.1570714865482, 'G_c'), ('towlejr01', 406500.0, 90.85457313645273, 'G_c'), ('tulowtr01', 3500000.0, 417.4571183497283, 'G_ss'), ('ugglada01', 7800000.0, 404.12140251793943, 'G_2b'), ('uptonbj01', 3000000.0, 314.15508684107675, 'G_cf'), ('uptonju01', 708333.0, 284.74067416779053, 'G_rf'), ('uribeju01', 3250000.0, 316.7671936384141, 'G_ss'), ('utleych01', 15285714.0, 368.76056664921794, 'G_2b'), ('varitja01', 3000000.0, 139.0543229004523, 'G_c'), ('victosh01', 5000000.0, 426.5153910014275, 'G_cf'), ('vizquom01', 1375000.0, 225.11735595874325, 'G_3b'), ('vottojo01', 525000.0, 498.0662091337048, 'G_1b'), ('weeksri01', 2750000.0, 397.84080131552497, 'G_2b'), ('wellsve01', 15687500.0, 430.3575655918853, 'G_cf'), ('werthja01', 7500000.0, 400.3770901185276, 'G_rf'), ('whiteel03', 405000.0, 139.23571487599128, 'G_c'), ('wietema01', 400000.0, 197.83700326913618, 'G_c'), ('wiggity01', 3500000.0, 288.9837347371717, 'G_1b'), ('willijo03', 4600000.0, 276.14061345582604, 'G_lf'), ('willire03', 625000.0, 153.25891936345099, 'G_lf'), ('wilsobo02', 402000.0, 112.69501739683736, 'G_c'), ('wilsoja02', 5000000.0, 120.26357618187564, 'G_ss'), ('woodbr01', 410000.0, 96.43187002710744, 'G_3b'), ('wrighda03', 10250000.0, 383.9222697316697, 'G_3b'), ('youklke01', 9375000.0, 361.767851623316, 'G_1b'), ('youngch04', 3450000.0, 384.9815522003823, 'G_cf'), ('youngde03', 2600000.0, 323.2338517765238, 'G_lf'), ('youngmi02', 13174974.0, 395.337904946442, 'G_3b'), ('zimmery01', 6350000.0, 397.1636272960616, 'G_3b'), ('zobribe01', 438100.0, 292.98162745058687, 'G_rf')]
salary_cap = 50000000

positions = ['G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_dh', 'pstaff']
position_domains = dict([])
for pos in positions:
	position_domains[pos] = []
	
for player in masterlist:
	worth = True
	domain = copy.deepcopy(position_domains[player[3]])
	for player2 in domain:
		if player2[2] >= player[2] and player2[1] <= player[1]:
			worth = False
			break
		if player2[2] <= player[2] and player2[1] >= player[1]:
			position_domains[player[3]].remove(player2)
			break

	if worth: 
		position_domains[player[3]].append((player[0], player[1], player[2]))

# print(position_domains)
for pos in positions:
	position_domains[pos] = sorted(position_domains[pos], cmp = lambda x,y: int(x[1] - y[1]) )

teams = [(0, 0, [])]
for pos in positions:
	newTeams = []
	# print(max(teams, key = lambda x: x[2]))
	print(pos)
	if pos == 'pstaff':
		bestTeam = (0, 0, [])
		for team in teams:
			for player in reversed(position_domains[pos]):
				if team[0] + player[1] > salary_cap:
					continue
				if bestTeam[1] < team[1] + player[2]:
					players = copy.deepcopy(team[2])
					players.append(player[0])
					bestTeam = (team[0] + player[1], team[1] + player[2], players)
					break
		break

	for team in teams:
		#print(team[2])
		for player in position_domains[pos]:
			if team[0] + player[1] > salary_cap:
				break
			players = copy.deepcopy(team[2])
			players.append(player[0])
			newTeams.append((team[0] + player[1], team[1] + player[2], players))
	teams = newTeams
print(bestTeam)
# print(max(teams, key = lambda x: x[2]))	
# print(problem.getSolutions())

G_c
G_1b
G_2b
G_3b
G_ss
G_lf
G_cf
G_rf
G_dh
pstaff
(49388177.0, 6024.0, ['buckjo01', 'huffau01', 'barmecl01', 'longoev01', 'carroja01', 'cabreme01', 'gutiefr01', 'francje02', 'guerrvl01', 'OAK'])

In [807]:
# go through all batters
totalScore = 0
for player in bestTeam[2][:-1]:
#     print batters_test[batters_test["playerID"] == player]["score"].iloc[0]
    totalScore += batters_test[batters_test["playerID"] == player]["score"].iloc[0]
    
# get the pstaff score
pstaff = bestTeam[2][-1]
totalScore += team_group[team_group["teamID"] == "ARI"]["score"].iloc[0]

print totalScore

3448.0

In [808]:
batters_test.loc[batters_test["playerID"] == "suzukku01"]["score"].iloc[0]

277.0

In [809]:
team_group[team_group["teamID"] == "ARI"]["score"].iloc[0]

466.0

In [266]:
# NOW TO TRY AND GET REAL BEST TEAM (ORACLE)
def batter_to_tuple_real(row):
    return (row['playerID'], row['salary'], row['score'], row['position'])
def pitcher_team_to_tuple_real(row):
    return (row['teamID'], row['salary'], row['score'], 'pstaff')

In [267]:
batters_data_real = batters_test.apply(lambda row: batter_to_tuple_real(row), axis=1)

In [268]:
pitchers_data_real = team_group.apply(lambda row: pitcher_team_to_tuple_real(row), axis=1)

In [269]:
masterlist_real = np.array(pitchers_data_real).tolist() + np.array(batters_data_real).tolist()

In [270]:
import copy
salary_cap = 50000000

positions = ['G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_dh', 'pstaff']
position_domains = dict([])
for pos in positions:
	position_domains[pos] = []
	
for player in masterlist_real:
	worth = True
	domain = copy.deepcopy(position_domains[player[3]])
	for player2 in domain:
		if player2[2] >= player[2] and player2[1] <= player[1]:
			worth = False
			break
		if player2[2] <= player[2] and player2[1] >= player[1]:
			position_domains[player[3]].remove(player2)
			break

	if worth: 
		position_domains[player[3]].append((player[0], player[1], player[2]))

# print(position_domains)
for pos in positions:
	position_domains[pos] = sorted(position_domains[pos], cmp = lambda x,y: int(x[1] - y[1]) )

teams = [(0, 0, [])]
for pos in positions:
	newTeams = []
	# print(max(teams, key = lambda x: x[2]))
	print(pos)
	if pos == 'pstaff':
		bestTeamReal = (0, 0, [])
		for team in teams:
			for player in reversed(position_domains[pos]):
				if team[0] + player[1] > salary_cap:
					continue
				if bestTeamReal[1] < team[1] + player[2]:
					players = copy.deepcopy(team[2])
					players.append(player[0])
					bestTeamReal = (team[0] + player[1], team[1] + player[2], players)
					break
		break

	for team in teams:
		#print(team[2])
		for player in position_domains[pos]:
			if team[0] + player[1] > salary_cap:
				break
			players = copy.deepcopy(team[2])
			players.append(player[0])
			newTeams.append((team[0] + player[1], team[1] + player[2], players))
	teams = newTeams
print(bestTeamReal)

G_c
G_1b
G_2b
G_3b
G_ss
G_lf
G_cf
G_rf
G_dh
pstaff
(49293066.0, 6180.0, ['martivi01', 'vottojo01', 'kinslia01', 'reynoma01', 'cabreas01', 'braunry02', 'ellsbja01', 'uptonju01', 'ortizda01', 'TOR'])