In [152]:
import pandas as pd

batting_df = pd.read_csv('./data/Batting.csv')

#display lots of columns
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 40)

In [153]:
batting_df[:5]

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO  IBB  HBP  SH  SF  GIDP
0  abercda01    1871      1    TRO  NaN   1    4   0   0   0   0   0    0   0   0   0   0  NaN  NaN NaN NaN   NaN
1   addybo01    1871      1    RC1  NaN  25  118  30  32   6   0   0   13   8   1   4   0  NaN  NaN NaN NaN   NaN
2  allisar01    1871      1    CL1  NaN  29  137  28  40   4   5   0   19   3   1   2   5  NaN  NaN NaN NaN   NaN
3  allisdo01    1871      1    WS3  NaN  27  133  28  44  10   2   2   27   1   1   0   2  NaN  NaN NaN NaN   NaN
4  ansonca01    1871      1    RC1  NaN  25  120  29  39  11   3   0   16   6   2   2   1  NaN  NaN NaN NaN   NaN

In [154]:
# remove statistics which didn't get recorded until sometime in 1900s
batting_df.drop(batting_df.columns[17:], axis=1, inplace=True)
# fill NaN values with 0
batting_df.fillna(0, inplace=True)
batting_df[:5]

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO
0  abercda01    1871      1    TRO    0   1    4   0   0   0   0   0    0   0   0   0   0
1   addybo01    1871      1    RC1    0  25  118  30  32   6   0   0   13   8   1   4   0
2  allisar01    1871      1    CL1    0  29  137  28  40   4   5   0   19   3   1   2   5
3  allisdo01    1871      1    WS3    0  27  133  28  44  10   2   2   27   1   1   0   2
4  ansonca01    1871      1    RC1    0  25  120  29  39  11   3   0   16   6   2   2   1

In [155]:
# function that gives us the score of a player for one season
def score(row):
    return row['R'] + row['H'] + row['2B'] + (2 * row['3B']) + (3 * row['HR']) + row['RBI'] + row['SB']

In [156]:
# calculate score
batting_df['score'] = batting_df.apply(lambda row: score(row), axis=1)
batting_df[:5]
# sort by score
# batting_df.sort('score', ascending=False)

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO  score
0  abercda01    1871      1    TRO    0   1    4   0   0   0   0   0    0   0   0   0   0      0
1   addybo01    1871      1    RC1    0  25  118  30  32   6   0   0   13   8   1   4   0     89
2  allisar01    1871      1    CL1    0  29  137  28  40   4   5   0   19   3   1   2   5    104
3  allisdo01    1871      1    WS3    0  27  133  28  44  10   2   2   27   1   1   0   2    120
4  ansonca01    1871      1    RC1    0  25  120  29  39  11   3   0   16   6   2   2   1    107

In [157]:
# WE ARE CONSIDERING ALL DATA FOR NOW

# makes a copy of these columns
# teams_relevant = teams_df[['playerID', 'yearID', 'teamID', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB']]
# teams_relevant[:10]
# teams_relevant['score'] = teams_relevant.apply(lambda row: score(row),axis=1)
# teams_relevant[:10]

In [158]:
def create_player_year_id(df):
    return df['playerID'] + "_" + str(df['yearID'])

In [159]:
batting_index = batting_df.apply(create_player_year_id, axis=1)
batting_df.set_index(batting_index, inplace=True)
# index by playerID and year since each player is distinct from himself each year
# we can access stuff by df[index[something]]

In [160]:
batting_df[:5]

                 playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO  score
abercda01_1871  abercda01    1871      1    TRO    0   1    4   0   0   0   0   0    0   0   0   0   0      0
addybo01_1871    addybo01    1871      1    RC1    0  25  118  30  32   6   0   0   13   8   1   4   0     89
allisar01_1871  allisar01    1871      1    CL1    0  29  137  28  40   4   5   0   19   3   1   2   5    104
allisdo01_1871  allisdo01    1871      1    WS3    0  27  133  28  44  10   2   2   27   1   1   0   2    120
ansonca01_1871  ansonca01    1871      1    RC1    0  25  120  29  39  11   3   0   16   6   2   2   1    107

In [161]:
master_df = pd.read_csv('./data/Master.csv')
master_df = master_df[['playerID', 'birthYear', 'nameFirst', 'nameLast', 'weight', 'height']]
master_df[:10]

    playerID  birthYear nameFirst     nameLast  weight  height
0  aardsda01       1981     David      Aardsma     205      75
1  aaronha01       1934      Hank        Aaron     180      72
2  aaronto01       1939    Tommie        Aaron     190      75
3   aasedo01       1954       Don         Aase     190      75
4   abadan01       1972      Andy         Abad     184      73
5   abadfe01       1985  Fernando         Abad     220      73
6  abadijo01       1854      John       Abadie     192      72
7  abbated01       1877        Ed  Abbaticchio     170      71
8  abbeybe01       1869      Bert        Abbey     175      71
9  abbeych01       1866   Charlie        Abbey     169      68

In [164]:
# merge birthyear, height, weight, etc info 
batters2 = pd.merge(left=batting_df, right=master_df, how='left', left_on='playerID', right_on='playerID')
# make weight height mean for those that didn't exist
# batters2.fillna(batters2.mean(), inplace=True)
batters2[:10]

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO  score  birthYear nameFirst     nameLast  weight  height
0  abercda01    1871      1    TRO    0   1    4   0   0   0   0   0    0   0   0   0   0      0       1850     Frank  Abercrombie     NaN     NaN
1   addybo01    1871      1    RC1    0  25  118  30  32   6   0   0   13   8   1   4   0     89       1842       Bob         Addy     160      68
2  allisar01    1871      1    CL1    0  29  137  28  40   4   5   0   19   3   1   2   5    104       1849       Art      Allison     150      68
3  allisdo01    1871      1    WS3    0  27  133  28  44  10   2   2   27   1   1   0   2    120       1846      Doug      Allison     160      70
4  ansonca01    1871      1    RC1    0  25  120  29  39  11   3   0   16   6   2   2   1    107       1852       Cap        Anson     227      72
5  armstbo01    1871      1    FW1    0  12   49   9  11   2   1   0    5   0   1   0   1     29       1850    Robert    Armstrong     160      74
6  barkeal01    1871      1    RC1    0   1    4   0   1   0   0   0    2   0   0   1   0      3       1839        Al       Barker     NaN     NaN
7  barnero01    1871      1    BS1    0  31  157  66  63  10   9   0   34  11   6  13   1    202       1850      Ross       Barnes     145      68
8  barrebi01    1871      1    FW1    0   1    5   1   1   1   0   0    1   0   0   0   0      4        NaN      Bill      Barrett     NaN     NaN
9  barrofr01    1871      1    BS1    0  18   86  13  13   2   1   0   11   1   0   0   0     42       1844     Frank      Barrows     NaN     NaN

In [167]:
batting_index = batters2.apply(create_player_year_id, axis=1)
batters2.set_index(batting_index, inplace=True)
# index by playerID and year since each player is distinct from himself each year
# we can access stuff by df[index[something]]

#remove everything before 1974
batters2 = batters2[batters2.yearID >= 1974]
batters2[:10]

                 playerID  yearID  stint teamID lgID    G   AB   R    H  2B  3B  HR  RBI  SB  CS  BB  SO  score  birthYear nameFirst   nameLast  weight  height
aaronha01_1974  aaronha01    1974      1    ATL   NL  112  340  47   91  16   0  20   69   1   0  39  29    284       1934      Hank      Aaron     180      72
abbotgl01_1974  abbotgl01    1974      1    OAK   AL   19    0   0    0   0   0   0    0   0   0   0   0      0       1951     Glenn     Abbott     200      78
acostcy01_1974  acostcy01    1974      1    CHA   AL   27    2   0    0   0   0   0    0   0   0   0   2      0       1946        Cy     Acosta     165      70
akerja01_1974    akerja01    1974      1    ATL   NL   17    1   0    0   0   0   0    0   0   0   0   0      0       1940      Jack       Aker     190      74
akerja01_1974    akerja01    1974      2    NYN   NL   24    2   1    1   1   0   0    0   0   0   0   0      3       1940      Jack       Aker     190      74
alburvi01_1974  alburvi01    1974      1    MIN   AL   32    0   0    0   0   0   0    0   0   0   0   0      0       1947       Vic     Albury     190      72
alexado01_1974  alexado01    1974      1    BAL   AL   30    0   0    0   0   0   0    0   0   0   0   0      0       1950     Doyle  Alexander     190      75
alexama01_1974  alexama01    1974      1    CHN   NL   45   54  15   11   2   1   0    0   8   4  12  12     38       1947      Matt  Alexander     168      71
allendi01_1974  allendi01    1974      1    CHA   AL  128  462  84  139  23   1  32   88   7   1  57  89    439       1942      Dick      Allen     187      71
allenll01_1974  allenll01    1974      1    TEX   AL   14    0   0    0   0   0   0    0   0   0   0   0      0       1950     Lloyd      Allen     185      73

In [172]:
# we need to combine same IDs, different stints into one person
# grouped = batters2.groupby(batters2.index)[['G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'score']].sum()
grouped = batters2.groupby(batters2.index)[['G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'score']].sum()

In [173]:
grouped

                            G   AB   R    H  2B  3B  HR  RBI  SB  CS  BB   SO  score
               birthYear
aardsda01_2004 1981        11    0   0    0   0   0   0    0   0   0   0    0      0
aardsda01_2006 1981        45    2   0    0   0   0   0    0   0   0   0    0      0
aardsda01_2007 1981        25    0   0    0   0   0   0    0   0   0   0    0      0
aardsda01_2008 1981        47    1   0    0   0   0   0    0   0   0   0    1      0
aardsda01_2009 1981        73    0   0    0   0   0   0    0   0   0   0    0      0
aardsda01_2010 1981        53    0   0    0   0   0   0    0   0   0   0    0      0
aardsda01_2012 1981         1    0   0    0   0   0   0    0   0   0   0    0      0
aardsda01_2013 1981        43    0   0    0   0   0   0    0   0   0   0    0      0
aaronha01_1974 1934       112  340  47   91  16   0  20   69   1   0  39   29    284
aaronha01_1975 1934       137  465  45  109  16   2  12   60   0   1  70   51    270
aaronha01_1976 1934        85  271  22   62   8   0  10   35   0   1  35   38    157
aasedo01_1977  1954        13    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1978  1954        29    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1979  1954        37    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1980  1954        40    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1981  1954        39    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1982  1954        24    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1984  1954        23    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1985  1954        54    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1986  1954        66    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1987  1954         7    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1988  1954        35    0   0    0   0   0   0    0   0   0   0    0      0
aasedo01_1989  1954        49    5   0    0   0   0   0    0   0   0   0    3      0
aasedo01_1990  1954        32    0   0    0   0   0   0    0   0   0   0    0      0
abadan01_2001  1972         1    1   0    0   0   0   0    0   0   0   0    0      0
abadan01_2003  1972         9   17   1    2   0   0   0    0   0   1   2    5      3
abadan01_2006  1972         5    3   0    0   0   0   0    0   0   0   2    0      0
abadfe01_2010  1985        22    1   0    0   0   0   0    0   0   0   0    1      0
abadfe01_2011  1985        29    0   0    0   0   0   0    0   0   0   0    0      0
abadfe01_2012  1985        37    7   0    1   0   0   0    0   0   0   0    3      1
...                       ...  ...  ..  ...  ..  ..  ..  ...  ..  ..  ..  ...    ...
zoccope01_2003 1977        20   37   0    4   1   0   0    3   0   0   2   13      8
zoskyed01_1991 1968        18   27   2    4   1   1   0    2   0   0   0    8     11
zoskyed01_1992 1968         8    7   1    2   0   1   0    1   0   0   0    2      6
zoskyed01_1995 1968         6    5   0    1   0   0   0    0   0   0   0    0      1
zoskyed01_1999 1968         8    7   1    1   0   0   0    0   0   0   1    2      2
zoskyed01_2000 1968         4    4   0    0   0   0   0    0   0   0   0    1      0
zuberjo01_1996 1969        30   91   7   23   4   0   1   10   1   0   6   11     48
zuberjo01_1998 1969        38   45   6   11   3   1   2    6   0   0   6    9     34
zuletju01_2000 1975        30   68  13   20   8   0   3   12   0   1   2   19     62
zuletju01_2001 1975        49  106  11   23   3   0   6   24   0   1   8   32     79
zumayjo01_2006 1984        62    0   0    0   0   0   0    0   0   0   0    0      0
zumayjo01_2007 1984        28    0   0    0   0   0   0    0   0   0   0    0      0
zumayjo01_2008 1984        21    0   0    0   0   0   0    0   0   0   0    0      0
zumayjo01_2009 1984        29    0   0    0   0   0   0    0   0   0   0    0      0
zumayjo01_2010 1984        31    0   0    0   0   0   0    0   0   0   0    0      0
zuninmi01_2013 1991        52  173  22   37   5   0   5   14   1   0  16   49     94
zuninmi01_2014 1991       131  438  51   87  20   2  22   60   0   3  17  158    288
zupcibo01_1991 1966        18   25   3    4   0   0   1    3   0   0   1    6     13
zupcibo01_1992 1966       124  392  46  108  19   1   3   43   2   2  25   60    229
zupcibo01_1993 1966       141  286  40   69  24   2   2   26   5   2  27   54    174
zupcibo01_1994 1966        36   92  10   18   4   1   1    8   0   1   4   17     45
zuvelpa01_1982 1958         2    1   0    0   0   0   0    0   0   0   0    0      0
zuvelpa01_1983 1958         3    5   0    0   0   0   0    0   0   0   2    1      0
zuvelpa01_1984 1958        11   25   2    5   1   0   0    1   0   0   2    3      9
zuvelpa01_1985 1958        81  190  16   48   8   1   0    4   2   0  16   14     80
zuvelpa01_1986 1958        21   48   2    4   1   0   0    2   0   0   5    4      9
zuvelpa01_1987 1958        14   34   2    6   0   0   0    0   0   0   0    4      8
zuvelpa01_1988 1958        51  130   9   30   5   1   0    7   0   0   8   13     53
zuvelpa01_1989 1958        24   58  10   16   2   0   2    6   0   0   1   11     40
zuvelpa01_1991 1958         2    0   0    0   0   0   0    0   0   0   0    0      0

[44571 rows x 13 columns]

In [99]:
# df = fielding.groupby(level=0, group_keys=False).apply(lambda x: x.ix[x.G.idxmax()])
# # get most common fielding positions
# fielding_positions = df[['playerID', 'yearID', 'POS', 'G']]
# fielding_positions[:10]

# # given a row from the fielding_positions df, replaces POS=OF with the most played outfield position in fieldingOF
# def getOFPosition(row):
#     if row['POS'] == 'OF':
#         print row.name
#         return fieldingOF.loc[row.name].Glf
# #         return 'OF'
#     else:
#         return row['POS']

# positions = fielding_positions.apply(getOFPosition, axis=1)

#fielding_positions.iloc[0].name

#fieldingOF.loc['allisar01_1871'][['Glf', 'Gcf', 'Grf']].idxmax()

# fieldingOF.loc[fielding_positions.loc['aaronha01_1974'].name]

In [100]:
appearances = pd.read_csv('./data/Appearances.csv')

In [105]:
appearances = appearances[['yearID', 'playerID', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_dh']]
# start at 1974 becuase DH position starts there
appearances = appearances[appearances.yearID >= 1974]
appearances[:10]

       yearID   playerID  G_c  G_1b  G_2b  G_3b  G_ss  G_lf  G_cf  G_rf  G_dh
51718    1974  aaronha01    0     0     0     0     0    89     0     0     0
51719    1974   akerja01    0     0     0     0     0     0     0     0     0
51720    1974  bakerdu01    0     0     0     0     0     0   102   114     0
51721    1974  beardmi01    0     0     0     0     0     0     0     0     0
51722    1974  blankla01    0     0     0     0     2     0     0     0     0
51723    1974  caprabu01    0     0     0     0     0     0     0     0     0
51724    1974  casanpa01   33     0     0     0     0     0     0     0     0
51725    1974  correvi01   59     0     0     0     0     0     0     0     0
51726    1974  easteja01    0     0     0     0     0     0     0     0     0
51727    1974  evansda01    0     0     0   160     0     0     0     0     0

In [115]:
# add player/year ID to appearances
appearances_index = appearances.apply(create_player_year_id, axis=1)
appearances.set_index(appearances_index, inplace=True)
# remove player and year id from appearances so we can get max of positions
appearances.drop(['playerID', 'yearID'], axis=1, inplace=True)
# drop all pitchers (all 0)
appearances[:10]

                G_c  G_1b  G_2b  G_3b  G_ss  G_lf  G_cf  G_rf  G_dh
aaronha01_1974    0     0     0     0     0    89     0     0     0
akerja01_1974     0     0     0     0     0     0     0     0     0
bakerdu01_1974    0     0     0     0     0     0   102   114     0
beardmi01_1974    0     0     0     0     0     0     0     0     0
blankla01_1974    0     0     0     0     2     0     0     0     0
caprabu01_1974    0     0     0     0     0     0     0     0     0
casanpa01_1974   33     0     0     0     0     0     0     0     0
correvi01_1974   59     0     0     0     0     0     0     0     0
easteja01_1974    0     0     0     0     0     0     0     0     0
evansda01_1974    0     0     0   160     0     0     0     0     0

In [136]:
# def getPlayerPosition(row):
#     if (appearances.loc[row.name].max() == 0):
#         # probably a pitcher so remove
#         return 'NA'
#     else:
#         return appearances.loc[row.name].idxmax()

def getPlayerPosition(row):
    return appearances.loc[row.name].max()

In [137]:
batters2 = batters2[batters2.index.isin(appearances.index)]
batters2

                 playerID  yearID  stint teamID lgID    G   AB   R    H  2B  3B  HR  RBI  SB  CS  BB   SO  score  birthYear  nameFirst    nameLast  weight  height
aaronha01_1974  aaronha01    1974      1    ATL   NL  112  340  47   91  16   0  20   69   1   0  39   29    284       1934       Hank       Aaron     180      72
abbotgl01_1974  abbotgl01    1974      1    OAK   AL   19    0   0    0   0   0   0    0   0   0   0    0      0       1951      Glenn      Abbott     200      78
acostcy01_1974  acostcy01    1974      1    CHA   AL   27    2   0    0   0   0   0    0   0   0   0    2      0       1946         Cy      Acosta     165      70
akerja01_1974    akerja01    1974      1    ATL   NL   17    1   0    0   0   0   0    0   0   0   0    0      0       1940       Jack        Aker     190      74
akerja01_1974    akerja01    1974      2    NYN   NL   24    2   1    1   1   0   0    0   0   0   0    0      3       1940       Jack        Aker     190      74
alburvi01_1974  alburvi01    1974      1    MIN   AL   32    0   0    0   0   0   0    0   0   0   0    0      0       1947        Vic      Albury     190      72
alexado01_1974  alexado01    1974      1    BAL   AL   30    0   0    0   0   0   0    0   0   0   0    0      0       1950      Doyle   Alexander     190      75
alexama01_1974  alexama01    1974      1    CHN   NL   45   54  15   11   2   1   0    0   8   4  12   12     38       1947       Matt   Alexander     168      71
allendi01_1974  allendi01    1974      1    CHA   AL  128  462  84  139  23   1  32   88   7   1  57   89    439       1942       Dick       Allen     187      71
allenll01_1974  allenll01    1974      1    TEX   AL   14    0   0    0   0   0   0    0   0   0   0    0      0       1950      Lloyd       Allen     185      73
allenll01_1974  allenll01    1974      2    CHA   AL    6    0   0    0   0   0   0    0   0   0   0    0      0       1950      Lloyd       Allen     185      73
almonbi01_1974  almonbi01    1974      1    SDN   NL   16   38   4   12   1   0   0    3   1   0   2    9     21       1952       Bill       Almon     180      75
alomasa01_1974  alomasa01    1974      1    CAL   AL   46   54  12   12   0   1   0    1   2   0   2    8     29       1943      Sandy      Alomar     140      69
alomasa01_1974  alomasa01    1974      2    NYA   AL   76  279  35   75   8   0   1   27   6   4  14   25    154       1943      Sandy      Alomar     140      69
aloufe01_1974    aloufe01    1974      1    ML4   AL    3    3   0    0   0   0   0    0   0   0   0    2      0       1935     Felipe        Alou     195      72
alouje01_1974    alouje01    1974      1    OAK   AL   96  220  13   59   8   0   2   15   0   0   5    9    101       1942      Jesus        Alou     190      74
alouma01_1974    alouma01    1974      1    SDN   NL   48   81   8   16   3   0   0    3   0   0   5    6     30       1938      Matty        Alou     160      69
alvarlu01_1974  alvarlu01    1974      1    CHA   AL    8   10   1    1   0   0   0    0   0   0   0    1      2       1949       Luis    Alvarado     162      69
alvarlu01_1974  alvarlu01    1974      2    SLN   NL   17   36   3    5   2   0   0    1   0   0   2    6     11       1949       Luis    Alvarado     162      69
alvarlu01_1974  alvarlu01    1974      3    CLE   AL   61  114  12   25   2   0   0   12   1   1   6   14     52       1949       Luis    Alvarado     162      69
alvaror01_1974  alvaror01    1974      1    LAN   NL    2    1   0    0   0   0   0    0   0   0   0    0      0       1952    Orlando     Alvarez     165      72
anderdw01_1974  anderdw01    1974      1    CLE   AL    2    3   0    1   0   0   0    0   0   0   0    1      1       1947      Dwain    Anderson     165      71
anderla01_1974  anderla01    1974      1    ML4   AL    2    0   0    0   0   0   0    0   0   0   0    0      0       1952      Larry    Anderson     190      75
andermi01_1974  andermi01    1974      1    PHI   NL  145  395  35   99  22   2   5   34   2   1  37   75    211       1951       Mike    Anderson     200      74
apodabo01_1974  apodabo01    1974      1    NYN   NL   35   25   2    3   2   0   0    2   0   0   3    6      9       1950        Bob     Apodaca     170      71
arlinst01_1974  arlinst01    1974      1    SDN   NL   16   18   0    2   1   0   0    0   0   0   0    7      3       1945      Steve       Arlin     195      75
arlinst01_1974  arlinst01    1974      2    CLE   AL   11    0   0    0   0   0   0    0   0   0   0    0      0       1945      Steve       Arlin     195      75
armbred01_1974  armbred01    1974      1    CIN   NL    9    7   0    2   0   0   0    0   0   0   1    1      2       1948         Ed  Armbrister     160      71
arnolch01_1974  arnolch01    1974      1    SFN   NL   78  174  22   42   7   3   1   26   1   1  15   27    107       1947      Chris      Arnold     160      70
ashbyal01_1974  ashbyal01    1974      1    CLE   AL   10    7   1    1   0   0   0    0   0   0   1    2      2       1951       Alan       Ashby     185      74
...                   ...     ...    ...    ...  ...  ...  ...  ..  ...  ..  ..  ..  ...  ..  ..  ..  ...    ...        ...        ...         ...     ...     ...
wilsojo03_2014  wilsojo03    2014      1    TEX   AL   24   67   7   16   4   0   0    8   1   0   2   14     36       1981       Josh      Wilson     175      72
wilsoju10_2014  wilsoju10    2014      1    PIT   NL   70    1   0    0   0   0   0    0   0   0   0    1      0       1987     Justin      Wilson     205      74
withrch01_2014  withrch01    2014      1    LAN   NL   20    0   0    0   0   0   0    0   0   0   0    0      0       1989      Chris     Withrow     215      76
wolfra02_2014    wolfra02    2014      1    MIA   NL    6    7   0    1   0   0   0    0   0   0   0    1      1       1976      Randy        Wolf     205      72
wongko01_2014    wongko01    2014      1    SLN   NL  113  402  52  100  14   3  12   42  20   4  21   71    270       1990     Kolten        Wong     185      69
woodal02_2014    woodal02    2014      1    ATL   NL   35   41   1    3   0   0   0    2   0   0   2   28      6       1991       Alex        Wood     215      76
woodbl01_2014    woodbl01    2014      1    CLE   AL    7    0   0    0   0   0   0    0   0   0   0    0      0       1985      Blake        Wood     240      77
woodtr01_2014    woodtr01    2014      1    CHN   NL   41   56   9   13   2   0   3   10   0   0   1   17     43       1987     Travis        Wood     175      71
wootero01_2014  wootero01    2014      1    MIL   NL   40    0   0    0   0   0   0    0   0   0   0    0      0       1985        Rob      Wooten     195      73
workmbr01_2014  workmbr01    2014      1    BOS   AL   19    3   0    0   0   0   0    0   0   0   0    3      0       1988    Brandon     Workman     225      77
worleva01_2014  worleva01    2014      1    PIT   NL   20   32   1    2   1   0   0    0   0   0   1   17      4       1987      Vance      Worley     230      74
worthda01_2014  worthda01    2014      1    DET   AL   20   42   5    7   1   0   0    5   0   1   2   12     18       1985      Danny       Worth     185      73
wrighda03_2014  wrighda03    2014      1    NYN   NL  134  535  54  144  30   1   8   63   8   5  42  113    325       1982      David      Wright     205      72
wrighja01_2014  wrighja01    2014      1    LAN   NL   61    5   0    0   0   0   0    0   0   0   0    3      0       1974      Jamey      Wright     240      78
wrighst01_2014  wrighst01    2014      1    BOS   AL    6    0   0    0   0   0   0    0   0   0   0    0      0       1984     Steven      Wright     220      73
wrighwe01_2014  wrighwe01    2014      1    CHN   NL   58    0   0    0   0   0   0    0   0   0   0    0      0       1985     Wesley      Wright     185      71
yateski01_2014  yateski01    2014      1    TBA   AL   37    0   0    0   0   0   0    0   0   0   0    0      0       1987      Kirby       Yates     195      70
yelicch01_2014  yelicch01    2014      1    MIA   NL  144  582  94  165  30   6   9   54  21   7  70  137    403       1991  Christian      Yelich     200      75
ynoara01_2014    ynoara01    2014      1    COL   NL   19   67   5   23   6   1   0   13   0   0   4    9     49       1987     Rafael        Ynoa     185      72
youngch03_2014  youngch03    2014      1    SEA   AL   30    1   0    0   0   0   0    0   0   0   0    0      0       1979      Chris       Young     255      82
youngch04_2014  youngch04    2014      1    NYN   NL   88  254  31   52  12   0   8   28   7   3  25   54    154       1983      Chris       Young     200      74
youngch04_2014  youngch04    2014      2    NYA   AL   23   71   9   20   8   0   3   10   1   0   7   16     57       1983      Chris       Young     200      74
youngde03_2014  youngde03    2014      1    BAL   AL   83  242  27   73  11   1   7   30   2   0  10   51    166       1985     Delmon       Young     240      75
younger03_2014  younger03    2014      1    NYN   NL  100  280  48   64  10   5   1   17  30   6  24   60    182       1985       Eric       Young     195      70
zeidjo01_2014    zeidjo01    2014      1    HOU   AL   23    1   0    0   0   0   0    0   0   0   0    1      0       1987       Josh        Zeid     235      76
zieglbr01_2014  zieglbr01    2014      1    ARI   NL   68    1   0    0   0   0   0    0   0   0   0    1      0       1979       Brad     Ziegler     210      76
zimmejo02_2014  zimmejo02    2014      1    WAS   NL   32   55   3   10   1   0   0    1   0   0   2   21     15       1986     Jordan  Zimmermann     220      74
zimmery01_2014  zimmery01    2014      1    WAS   NL   61  214  26   60  19   1   5   38   0   0  22   37    160       1984       Ryan   Zimmerman     220      75
zobribe01_2014  zobribe01    2014      1    TBA   AL  146  570  83  155  34   3  10   52  10   5  75   84    370       1981        Ben     Zobrist     210      75
zuninmi01_2014  zuninmi01    2014      1    SEA   AL  131  438  51   87  20   2  22   60   0   3  17  158    288       1991       Mike      Zunino     220      74

[48083 rows x 23 columns]

In [138]:
batters2[:100].apply(getPlayerPosition, axis=1)

aaronha01_1974                                                 89
abbotgl01_1974                                                  0
acostcy01_1974                                                  0
akerja01_1974       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
akerja01_1974       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
alburvi01_1974                                                  0
alexado01_1974                                                  0
alexama01_1974                                                 19
allendi01_1974                                                125
allenll01_1974      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
allenll01_1974      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
almonbi01_1974                                                 14
alomasa01_1974    [0.0, 0.0, 76.0, 5.0, 19.0, 0.0, 0.0, 1.0, 0.0]
alomasa01_1974    [0.0, 0.0, 76.0, 5.0, 19.0, 0.0, 0.0, 1.0, 0.0]
aloufe01_1974                                                   1
alouje01_1974                                                  37
alouma01_1974                                                  13
alvarlu01_1974    [0.0, 0.0, 47.0, 1.0, 17.0, 0.0, 0.0, 0.0, 1.0]
alvarlu01_1974    [0.0, 0.0, 47.0, 1.0, 17.0, 0.0, 0.0, 0.0, 1.0]
alvarlu01_1974    [0.0, 0.0, 47.0, 1.0, 17.0, 0.0, 0.0, 0.0, 1.0]
alvaror01_1974                                                  1
anderdw01_1974                                                  1
anderla01_1974                                                  0
andermi01_1974                                                132
apodabo01_1974                                                  0
arlinst01_1974      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
arlinst01_1974      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
armbred01_1974                                                  2
arnolch01_1974                                                 32
ashbyal01_1974                                                  9
                                       ...
blancos01_1974                                                 16
blankla01_1974                                                  2
blassst01_1974                                                  0
blombro01_1974                                                 56
bluevi01_1974                                                   0
blylebe01_1974                                                  0
boccajo01_1974                                                 26
bochtbr01_1974                                                 32
boiscbr01_1974                                                  3
bondsbo01_1974                                                141
bonhabi01_1974                                                  0
boonebo01_1974                                                146
borbope01_1974                                                  0
borgmgl01_1974                                                128
bosmadi01_1974                                                  0
bosweke01_1974                                                 28
bourqpa01_1974     [0.0, 39.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.0]
bourqpa01_1974     [0.0, 39.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.0]
bowala01_1974                                                 162
bradfbu01_1974                                                 24
bradlto01_1974                                                  0
braunst01_1974                                                108
breedha01_1974                                                 57
brettge01_1974                                                132
brettke01_1974                                                  0
breweji01_1974                                                  0
briggjo02_1974                                                148
brilene01_1974                                                  0
brinkch01_1974      [9.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
brinkch01_1974      [9.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
dtype: object