In [7]:
import pandas as pd

teams_df = pd.read_csv('./data/Batting.csv')

#display lots of columns
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)

In [14]:
teams_df[:5]

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR  RBI  SB  CS  BB  SO  IBB  HBP  SH  SF  GIDP
0  abercda01    1871      1    TRO  NaN   1    4   0   0   0   0   0    0   0   0   0   0  NaN  NaN NaN NaN   NaN
1   addybo01    1871      1    RC1  NaN  25  118  30  32   6   0   0   13   8   1   4   0  NaN  NaN NaN NaN   NaN
2  allisar01    1871      1    CL1  NaN  29  137  28  40   4   5   0   19   3   1   2   5  NaN  NaN NaN NaN   NaN
3  allisdo01    1871      1    WS3  NaN  27  133  28  44  10   2   2   27   1   1   0   2  NaN  NaN NaN NaN   NaN
4  ansonca01    1871      1    RC1  NaN  25  120  29  39  11   3   0   16   6   2   2   1  NaN  NaN NaN NaN   NaN

In [15]:
def score(row):
    return row['R'] + row['H'] + row['2B'] + (2 * row['3B']) + (3 * row['HR']) + row['RBI'] + row['SB']

In [16]:
teams_relevant = teams_df[['playerID', 'yearID', 'teamID', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB']]
teams_relevant[:10]

    playerID  yearID teamID   R   H  2B  3B  HR  RBI  SB
0  abercda01    1871    TRO   0   0   0   0   0    0   0
1   addybo01    1871    RC1  30  32   6   0   0   13   8
2  allisar01    1871    CL1  28  40   4   5   0   19   3
3  allisdo01    1871    WS3  28  44  10   2   2   27   1
4  ansonca01    1871    RC1  29  39  11   3   0   16   6
5  armstbo01    1871    FW1   9  11   2   1   0    5   0
6  barkeal01    1871    RC1   0   1   0   0   0    2   0
7  barnero01    1871    BS1  66  63  10   9   0   34  11
8  barrebi01    1871    FW1   1   1   1   0   0    1   0
9  barrofr01    1871    BS1  13  13   2   1   0   11   1

In [18]:
teams_relevant['score'] = teams_relevant.apply(lambda row: score(row),axis=1)
teams_relevant

/Users/stuartsy/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

        playerID  yearID teamID   R    H  2B  3B  HR  RBI  SB  score
0      abercda01    1871    TRO   0    0   0   0   0    0   0      0
1       addybo01    1871    RC1  30   32   6   0   0   13   8     89
2      allisar01    1871    CL1  28   40   4   5   0   19   3    104
3      allisdo01    1871    WS3  28   44  10   2   2   27   1    120
4      ansonca01    1871    RC1  29   39  11   3   0   16   6    107
5      armstbo01    1871    FW1   9   11   2   1   0    5   0     29
6      barkeal01    1871    RC1   0    1   0   0   0    2   0      3
7      barnero01    1871    BS1  66   63  10   9   0   34  11    202
8      barrebi01    1871    FW1   1    1   1   0   0    1   0      4
9      barrofr01    1871    BS1  13   13   2   1   0   11   1     42
10      bassjo01    1871    CL1  18   27   1  10   3   18   0     93
11     battijo01    1871    CL1   0    0   0   0   0    0   0      0
12     bealsto01    1871    WS3   6    7   0   0   0    1   2     16
13     beaveed01    1871    TRO   7    6   0   0   0    5   2     20
14     bechtge01    1871    PH1  24   33   9   1   1   21   4     96
15     bellast01    1871    TRO  26   32   3   3   0   23   4     94
16     berkena01    1871    PH1   0    0   0   0   0    0   0      0
17     berryto01    1871    PH1   0    1   0   0   0    0   0      1
18     berthha01    1871    WS3  17   17   1   1   0    8   3     48
19     biermch01    1871    FW1   0    0   0   0   0    0   0      0
20      birdge01    1871    RC1  19   28   2   5   0   13   1     73
21     birdsda01    1871    BS1  51   46   3   3   0   24   6    136
22     brainas01    1871    WS3  24   30   4   0   0   21   4     83
23     brannmi01    1871    CH1   2    1   0   0   0    0   0      3
24     burrohe01    1871    WS3  11   15   2   3   1   14   0     51
25     careyto01    1871    FW1  16   20   2   0   0   10   5     53
26     carleji01    1871    CL1  31   32   8   1   0   18   2     93
27      conefr01    1871    BS1  17   20   3   1   0   16  12     70
28     connone01    1871    TRO   6    7   0   0   0    2   0     15
29     cravebi01    1871    TRO  26   38   8   1   0   26   6    106
...          ...     ...    ...  ..  ...  ..  ..  ..  ...  ..    ...
99816  wilsojo03    2014    TEX   7   16   4   0   0    8   1     36
99817  wilsoju10    2014    PIT   0    0   0   0   0    0   0      0
99818  withrch01    2014    LAN   0    0   0   0   0    0   0      0
99819   wolfra02    2014    MIA   0    1   0   0   0    0   0      1
99820   wongko01    2014    SLN  52  100  14   3  12   42  20    270
99821   woodal02    2014    ATL   1    3   0   0   0    2   0      6
99822   woodbl01    2014    CLE   0    0   0   0   0    0   0      0
99823   woodtr01    2014    CHN   9   13   2   0   3   10   0     43
99824  wootero01    2014    MIL   0    0   0   0   0    0   0      0
99825  workmbr01    2014    BOS   0    0   0   0   0    0   0      0
99826  worleva01    2014    PIT   1    2   1   0   0    0   0      4
99827  worthda01    2014    DET   5    7   1   0   0    5   0     18
99828  wrighda03    2014    NYN  54  144  30   1   8   63   8    325
99829  wrighja01    2014    LAN   0    0   0   0   0    0   0      0
99830  wrighst01    2014    BOS   0    0   0   0   0    0   0      0
99831  wrighwe01    2014    CHN   0    0   0   0   0    0   0      0
99832  yateski01    2014    TBA   0    0   0   0   0    0   0      0
99833  yelicch01    2014    MIA  94  165  30   6   9   54  21    403
99834   ynoara01    2014    COL   5   23   6   1   0   13   0     49
99835  youngch03    2014    SEA   0    0   0   0   0    0   0      0
99836  youngch04    2014    NYN  31   52  12   0   8   28   7    154
99837  youngch04    2014    NYA   9   20   8   0   3   10   1     57
99838  youngde03    2014    BAL  27   73  11   1   7   30   2    166
99839  younger03    2014    NYN  48   64  10   5   1   17  30    182
99840   zeidjo01    2014    HOU   0    0   0   0   0    0   0      0
99841  zieglbr01    2014    ARI   0    0   0   0   0    0   0      0
99842  zimmejo02    2014    WAS   3   10   1   0   0    1   0     15
99843  zimmery01    2014    WAS  26   60  19   1   5   38   0    160
99844  zobribe01    2014    TBA  83  155  34   3  10   52  10    370
99845  zuninmi01    2014    SEA  51   87  20   2  22   60   0    288

[99846 rows x 11 columns]

In [22]:
teams_relevant.sort('score', ascending=False)

        playerID  yearID teamID    R    H  2B  3B  HR  RBI  SB  score
19037   ruthba01    1921    NYA  177  204  44  16  59  171  17    822
22017  gehrilo01    1927    NYA  149  218  52  18  47  175  10    781
23717  kleinch01    1930    PHI  158  250  59   8  40  170   4    777
24138  gehrilo01    1931    NYA  163  211  31  15  46  184  17    774
23963  wilsoha01    1930    CHN  146  208  35   6  56  191   3    763
24637   foxxji01    1932    PHA  151  213  33   9  58  169   3    761
19379  hornsro01    1922    SLN  141  250  46  14  42  152  17    760
23617  gehrilo01    1930    NYA  143  220  42  17  41  174  12    748
22254   ruthba01    1927    NYA  158  192  29   8  60  164   7    746
27190  dimagjo01    1937    NYA  151  215  35  15  46  167   3    739
81768   sosasa01    2001    CHN  146  189  34   5  64  160   0    731
24748  kleinch01    1932    PHI  152  226  50  15  38  137  20    729
6129   duffyhu01    1894    BSN  160  237  51  16  18  145  48    727
77734   sosasa01    1998    CHN  134  198  20   0  66  158  18    726
27246  greenha01    1937    DET  137  200  49  14  40  183   8    725
26703  gehrilo01    1936    NYA  167  205  37   7  49  152   3    725
12708   cobbty01    1911    DET  147  248  47  24   8  127  83    724
23884  simmoal01    1930    PHA  152  211  41  16  36  165   9    718
27722   foxxji01    1938    BOS  139  197  33   9  50  175   5    717
23162  hornsro01    1929    CHN  156  229  47   8  39  149   2    716
76560  walkela01    1997    COL  143  208  46   4  49  130  33    715
25662  gehrilo01    1934    NYA  128  210  40   6  49  165   9    711
23670  hermaba01    1930    BRO  143  241  48  11  35  130  18    707
33669  musiast01    1948    SLN  135  230  46  18  39  131   7    702
18555  sislege01    1920    SLA  137  257  49  18  19  122  42    700
89767  rodrial01    2007    NYA  143  183  31   0  54  156  24    699
20094   ruthba01    1923    NYA  151  205  45  13  41  131  17    698
26991  troskha01    1936    CLE  124  216  45   9  42  162   6    697
18517   ruthba01    1920    NYA  158  172  36   9  54  137  14    697
79756  heltoto01    2000    COL  138  216  59   2  42  147   5    695
...          ...     ...    ...  ...  ...  ..  ..  ..  ...  ..    ...
78973  runyase01    1999    DET  NaN  NaN NaN NaN NaN  NaN NaN    NaN
78975  ruschgl01    1999    KCA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
78978   ryanbj01    1999    BAL  NaN  NaN NaN NaN NaN  NaN NaN    NaN
78979   ryanja04    1999    MIN  NaN  NaN NaN NaN NaN  NaN NaN    NaN
78996  santama01    1999    BOS  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79000  saundto01    1999    TBA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79033  sinclst01    1999    TOR  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79037  slocuhe01    1999    BAL  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79045  snydejo02    1999    CHA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79052  sparkje01    1999    TBA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79056  spencse01    1999    SEA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79063  spradje01    1999    CLE  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79072  steinbl01    1999    OAK  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79073  steinbl01    1999    KCA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79076  steveda01    1999    CLE  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79086  sturtta01    1999    CHA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79098    tamje01    1999    CLE  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79112  tessmja01    1999    NYA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79154  vizcalu01    1999    OAK  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79159  wagnepa01    1999    CLE  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79165  wallade01    1999    KCA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79176  watsoal01    1999    SEA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79177  watsoal01    1999    NYA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79179  weaveer01    1999    SEA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79187  wellski01    1999    CHA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79190  wengedo01    1999    KCA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79192  wheelda01    1999    TBA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79213  willito02    1999    SEA  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79226  wolcobo01    1999    BOS  NaN  NaN NaN NaN NaN  NaN NaN    NaN
79237  yarnaed01    1999    NYA  NaN  NaN NaN NaN NaN  NaN NaN    NaN

[99846 rows x 11 columns]